$table-bg-colors: (
  1: #FCEAB7, // yellow 30%
  2: #A2E6F4, // sky-blue 37%
  3: #F5B6B3, // red 33%
  4: #FFA375, // orange 58%
  5: #FDF6DE, // pale yellow 2
  6: #FCEBB7, // pale yellow
  7: #FFB48F, // pale orange
  8: #F9D2D2, // pale red
  9: #DBD4E8, // lilac
  10: #51D2EC, // pale sky blue
  11: #02DFE3, // teal blue
  12: #BFDB1F // lime green
 ) !important;

