// -----------------------------------------------------------------------------
// home
// -----------------------------------------------------------------------------

ul.gtopics-0 {
  margin: unset
}

//override theme course name header color
.content h3.sectionname {
  color: $headings;
}

#gridiconcontainer {
// for some reason a right margin cant be overidden
  width: 103%;
  ul.gridicons {
    margin-left: -0.75rem;
    margin-right: 0.75rem;
    li {
    @extend .top-bar;
      padding: 0;
      margin: 0.75rem;
    }
  }
  .gridicon_link {
    position: relative;
    .icon_content {
      @extend .caption-overlay;
      color: $white;
      text-align: left;
      z-index: 1;
      padding: 1rem;
      width: 277.5px;
      height: 100px;
      font-family: 'KingsBureauGrot';
      font-size: 1.25rem;
      line-height: 1.4;
      white-space: unset;
    }
    .image_holder {
      border: none;
      width: 309.5px;
      height: 310px;
      background-color: unset;
      border-radius: unset;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

// activity type labels
.course-content ul.section {
  // remove padding from small icons (edit/move)
  img.iconsmall {
    padding: unset;
  }
  img.icon {
    padding-right: unset;
  }
  li.activity {
    display: flex;
    margin-bottom: $component-margin-bottom-sm;
    padding: unset !important;
    &.label {
      h2, h3, h4, p:last-child {
        margin-bottom: unset;
      }
      // section titles use the same activity class as labels 
      // but need extra margin
      &:not(:first-of-type) h2, &:not(:first-of-type) h3, 
      &:not(:first-of-type) h4 {
        margin-top: 0.75rem;
      }
    }
    // hide icon
    & > div {
      max-width: calc(100% - 105px);
    }
    .activityinstance {
      min-height: unset;
      &:not(:last-child) {
        margin-bottom: unset;
      }
      a {
        // activity label
 /*       &::before {
          display: inline-block;
          font-family: 'KingsBureauGrot';
          font-size: 1rem;
          text-align: center;
          text-transform: uppercase;
          width: 5.5rem;
          height: 1.5rem;
          border-radius: 2px;
          margin-right: 1rem;
          color: white;
        }
        // hide icon
        img {
          display: none;
        }
*/        
      }  
    }
/*    &.book, &.page, &.resource {
      .activityinstance a::before {
        content: 'Study';
        background-color: $sea-blue;
      }
    }
    &.forum, &.lesson, &.questionnaire, &.quiz, &.scorm {
      .activityinstance a::before {
        content: 'Participate';
        background-color: $orange;
      }
    }*/
    .no-overflow {
      padding: unset;
    }
    .activityinstance ~ .ishidden {
      margin: unset;
    }
  }
}

// hide activity labels on module information, forums and webinars, and
// assessment pages
.hide-activity-labels {
  li.activity::before {
    display: none;
  }
  // show resource icon
  .course-content ul.section li.activity.resource .activityinstance img {
    display: inline;
  }
}
