// -----------------------------------------------------------------------------
// kitchen sink
// -----------------------------------------------------------------------------

// variables 
.colour-palette {
  .colour-pan {
    height:6rem;
    .colour {
      padding:1rem;
      color: #fff;
      span {
        display: block;
      }  
    }
  }
}
