.section-title, h2, h3 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
	color: #0A2D50;
}
/*Sections in the accordion*/
h4 {
    font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
    color: #0A2D50;
    background: #f9f9f9;
}

h1 {
	font-family: 'kingsfont-37' !important;
}

h3.section-title {
	color: #0A2D50 !important;
}

#page-header {
	background-color: #009EA0;
}

.sectionbody {
	font-family: 'Roboto','Arial' !important;
	font-size: 1.1em;
	color: #404142;
}

.sectionbody p {
	color: #0A2D50;
}

/*Links differents*/
a {
	color: #0B5584;
	font-weight: 600;
}

.sectionbody p a:visited {
	color: #9FA7A7;
}

html, body {
	font-family:'Roboto','Arial' !important;
	color: #404142;
}

.subtitles {
	font-family: 'kingsfont-37';
	color: #4e647f;
	font-size: medium;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

.accordion-content.default {
	display: block;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
}

.hero {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
	left: 0px;
	padding: 0px;
	top: 0px;
	max-width: 67%;
	padding-left: 15px;
	position: absolute;
}

.hero-box h1 {
	font-size: 2.5em;
	color: #ffffff;
	text-align: left;
	background-color: rgba(252, 94, 114, 0.7);
	font-family: 'kingsfont-37' !important;
	padding: 2px;
	letter-spacing: .2px;
}

.hero-box h2 {
  font-size: 1.5em;
  color: #ffffff;
  text-align: left;
  padding-top: 15px;
  margin-bottom: 0px;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
    font-family: 'kingsfont-37' !important;
    width: 100%;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
.course-content ul.ctopics li.section .content .toggle {
	color: #0A2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #9FA7A7;
	color: #009EA0 !important;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #9FA7A7;
}


.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.2em;
	content: "\f107" !important;
	color: #009EA0;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.2em;
	content: "\f106" !important;
	color: #009EA0;
	
	
}

#page-header .coursesearch input[type="submit"] {
	background-color: #009EA0;
}

.instancename {
	color: #404142;
}

.contentafterlink {
	font-size: .9em;
}	

.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
	color: #0A2D50;
}

h1 {
	font-family: 'kingsfont-37' !important;
}

h3.section-title {
	color: #0A2D50 !important;
}

#page-header {
	background-color: #009EA0;
}

.sectionbody {
	font-family: 'Roboto','Arial' !important;
	font-size: 1.1em;
	color: #404142;
}

.sectionbody p a {
	color: #0A2D50;
	text-decoration: underline;
}

.sectionbody p a:visited {
	color: #9FA7A7;
}

html, body {
	font-family:'Roboto','Arial' !important;
	color: #404142;
}

.subtitles {
	font-family: 'kingsfont-37';
	color: #4e647f;
	font-size: medium;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

.accordion-content.default {
	display: block;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.page-footer-staircase {
  width: 40%;
  right: 0;
  height: 100%;
  float: left;
  position: absolute;
}

.page-footer-staircase-inner {
	margin: 0 auto;
}

.staircase {
	background: #ffffff;
	width: 25%;
	height: 20px;
	position: absolute;
}

.stair-1 {
	top: 80%;
	right: 75%;
}

.stair-2 {
	top: 60%;
	right: 50%;
}

.stair-3 {
	top: 40%;
	right: 25%;
}

.stair-4 {
	top: 20%;
	right: 0;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
    font-family: 'kingsfont-37' !important;
    width: 100%;
  }
  
  .hero-box h2 {
    display: none;
  }
  
  .page-footer-staircase {
  	display: none;
  }
  
  .staircase {
  	display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
.course-content ul.ctopics li.section .content .toggle {
	color: #0A2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #9FA7A7;
	color: #009EA0 !important;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #9FA7A7;
}


.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.2em;
	content: "\f107" !important;
	color: #009EA0;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.2em;
	content: "\f106" !important;
	color: #009EA0;
}

#page-header .coursesearch input[type="submit"] {
	background-color: #009EA0;
}

.instancename {
	color: #404142;
}

.contentafterlink {
	font-size: .9em;
}	

.completionprogress {
	right: 10px;
	padding-top: 10px;
	position: absolute !important;
	z-index: 2;
}
/*Links to blue */
.instancename {
    color: #0b5584;
}
/*h3 header*/
.block .content h3 {
    display: block;
    font-size: 11px;
    font-weight: 700;
    margin-left: -15px;
    color: #333;
    line-height: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    text-transform: uppercase;
    font-size: 1.1em;
}
/*Lecture name on banner*/
h7 {
    font-size: 1.3em;
    text-align: left;
    /* font-weight: 400; */
    color: white;
    background-color: #1aa8aaa6;
}
/*KEATS Video Play button*/
.video-js .vjs-big-play-button {
    background-color: rgb(0, 158, 160);
    border-radius: 100px;
    border-width: 0 !Important; 
    font-size: 2em;
    height: 100px;
    top: 25px;
    left: 17px;
    width: 100px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    font-size: 3em;
    line-height: 320%;
    transition: all 0.4s;
}
/*KEATS Video Play button for mobile*/
@media only screen and (max-width: 600px) {
   .video-js .vjs-big-play-button {
    background-color: rgb(0, 158, 160);
    border-radius: 100px;
    border-width: 0 !Important; 
    font-size: 2em;
    height: 50px;
    top: 25px;
    left: 17px;
    width: 50px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    font-size: 3em;
    line-height: 160%;
    transition: all 0.4s;
	}
}
/*Video frame color*/
.sectionbody {
    font-family: 'Roboto','Arial' !important;
    font-size: 1.1em;
    color: #9fa7a7;
}

// Mathjax
.MathJax_Display {
    text-align: left !important;
}

div.MathJax_Display {
	text-align: left !important;
}
/*Simple Popup in KEATS*/
.dropdown-menu {
    position: inherit;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    padding: 5px 28px;
    min-width: 120px;
    margin: 10px 200px 20px;
    list-style: none;
}
/*Your progress correction */
.path-course-view .completionprogress {
    margin-right: 10px;
    color: white;
    font-weight: 700;
}
/*IE rules*/

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
   .page-footer-staircase {display: none !important;}
}
