.block {
    display: none;
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    display: none;
}
#page-header {
    display: none;
}

div#dashaction .panel {
    display: none;
}

.breadcrumb {
    display: none;
}

#page-footer {
    display: none;
}

body {
    font-size: 13px;
    line-height: 20px;
    background: #fff;
}
#container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
    box-shadow: 0 0 0 rgba(0,0,0,.2);
}
#page-mod-questionnaire-complete .message, #page-mod-questionnaire-preview .message, #page-mod-questionnaire-complete .thankbody, #page-mod-questionnaire-complete .thankhead {
    border-color: #6b6b6b82;
}
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: -20px;
    float: inherit;
}
h2 {
    display: none;
}
.checklist_progress_inner {
    background-color: #0270a8;
    background-image: none;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;
    background-position: top;
    z-index: 10;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 0px #fff;
    border-radius: 0px;
}
.checklist_progress_outer {
    border-width: 1px;
    border-style: solid;
    border-color: #9c9c9c;
    width: 300px;
    background-color: transparent;
    height: 15px;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 0px #fff;
    border-radius: 1px;
}
textarea[cols], input[size] {
    min-height: 100px;
    min-width: 98%;
}
