.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    display: none;
}
#page-header {
    display: none;
}

div#dashaction .panel {
    display: none;
}

.breadcrumb {
    display: none;
}

#page-footer {
    display: none;
}
.block {
    display: none;
}
body {
    font-size: 13px;
    line-height: 20px;
    background: #fff;
}
#container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 0 0;
    background: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
    box-shadow: 0 0 0 rgba(0,0,0,.2);
}
#page-mod-questionnaire-complete .message, #page-mod-questionnaire-preview .message, #page-mod-questionnaire-complete .thankbody, #page-mod-questionnaire-complete .thankhead {
    border-color: #6b6b6b82;
}
#page-mod-questionnaire-complete .message, #page-mod-questionnaire-preview .message, #page-mod-questionnaire-complete .thankbody, #page-mod-questionnaire-complete .thankhead {
    border-color: #b94a48;
}
