.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    display: none;
}
#page-header {
    display: none;
}

div#dashaction .panel {
    display: none;
}

.breadcrumb {
    display: none;
}

#page-footer {
    display: none;
}
.block {
    display: none;
}
body {
    font-size: 13px;
    line-height: 20px;
    background: #fff;
}
