@font-face {
  font-family: 'KingsBureauGrot ThreeSeven';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot');
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot?#iefix') format('embedded-opentype'), url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.woff') format('woff'), url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ELCicons';
  src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot');
  src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot?#iefix') format('embedded-opentype'), url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.woff') format('woff'), url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

[role=main] h2 {
  background: #6b6b6b;
  color: white;
}

h2 {
  position: relative;
  background: #f0f1f3 url("https://git.iddkingsonline.com/assets/images/taustelcheader.png") no-repeat left top;
  border: 1px solid #ececec;
  line-height: 60px;
  font-size: 32px;
  color: #6b6b6b;
  padding: 10px 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  margin-top: 0px;
  font-style: normal;
}

h3 {
  margin: -20px 0px 0px -20px;
}


/* Start of ELC Lesson page css */

.page {
  background: #fff;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

#icons_week {
  position: relative;
  font-size: 24px;
  font-family: 'ELCicons';
  font-weight: normal;
  font-style: normal;
}

#icons_r_week {
  position: relative;
  font-size: 14px;
  font-family: 'ELCicons';
  font-weight: normal;
  font-style: normal;
}

#text_week {
  position: relative;
  line-height: 36px;
  color: #6b6b6b;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#green_week {
  color: #449f1e;
  text-align: left;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#blue_week {
  color: #092c50;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#red_week {
  color: #e1221a;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#orange_week {
  color: #ff9600;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}
#orange_week:hover {
  color: #025187;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
  text-decoration: none;
}

a.s1:link {
  color: #666;
  text-decoration: none;
}

a.s1:visited {
  color: #eee;
  text-decoration: none;
}

a.s1:hover {
  text-decoration: underline;
}

.activity img.activityicon {
  display: none;
}

.instancename {
  position: relative;
  line-height: 36px;
  color: #6b6b6b;
  margin-left: 40px;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.course-content ul.topics li.section .summary {
  margin-top: 0px;
}

#page-mod-subpage-view li.activity .actions {
  right: 50px;
}

@media only screen and (max-width: 500px) {
  .instancename {
    font-size: 16px;
    margin-left: 0px;
  }
  #page-mod-subpage-view li.activity .actions {
    display: none;
  }
}

.book_content h3 {
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 30px;
  padding: 10px 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  pointer-events: none;
}

.path-mod-book h2 {
  margin: 0px;
}

.path-mod-book .navtop {
  margin-top: 10px;
}


/* Navibuttons */

.navtop.navtext a, .navbottom.navtext a {
  display: inline-block;
  max-width: 45%;
  font-size: 14px;
}


/* Page header color */

#page-header {
  background-color: #06314d;
}


/* Navigation Icons */

img.icon {
  height: 25px;
  vertical-align: text-bottom;
  width: 25px;
  padding-right: 6px;
}


/* Remove Black lines in video proportions*/

.bc-player-default_default .vjs-poster {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}


/* Book subheader position and size*/

.book_content h3 {
  font-size: 23px;
  margin-top: -70px;
  padding: 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
}


/* Forum header normal place*/

h3 {
  margin: 0px 0px 0px 0px;
  /* biger dashboard icons*/
}

element.style {
  font-size: 66px;
  height: 65px;
  width: 65px;
  vertical-align: middle;
  border: 4px solid #0b5584;
  border-radius: 5px;
  background-image: none;
}


/* Video Scrollbars hiding*/

.no-overflow {
  overflow: hidden;
  padding-bottom: 1px;
}

.book_content {
  padding-left: 20px;
  padding-right: 20px;
}

.bc-iframe body, .bc-player-default_default {
  background: inherit
}


/* Dashboard module centre position*/

.block_html {
  background-color: #FFF;
  padding-bottom: 5px;
  text-align: center;
}


/* Frontpage navigation*/

ul.topnav {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  background-color: #fff;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  list-style-type: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #eee;
}

ul.topnav li a.active {
  background-color: #fdfdfd;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

.nav-images {
  flex-grow: 1 !important;
  width: auto !important;
  max-width: 185px !important;
  height: 135px !important;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}


/* Profile image display update*/

.page-context-header .page-header-image {
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-top: 1.5em;
  z-index: 6;
}


/*Simon's Brightcove fixes*/

.vjs-mouse-display {
  display: none !important;
}

.video-js .vjs-slider {
	background-color: transparent !important;
}

.bc-player-default_default.vjs-mouse .vjs-volume-menu-button {
	width: 48px !important;
}

.video-js .vjs-play-progress:before {
	top: -15px !important;
}

.video-js .vjs-progress-holder {
	top: 15px !important;
}

.video-js .vjs-time-tooltip, .video-js .vjs-mouse-display:after, .video-js .vjs-play-progress:after {
	top: -60px !important;
}
/*Image links for left sidebar*/
#notebook {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/n2.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#notebook:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#aditionals {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/aditionals.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#aditionals:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#az {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/az.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#az:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
/*Week page image links*/
.img-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}
/*Hover color for images*/


.overlay-container {
  text-align: center;
  position: relative;
}
.overlay-container img {
}
.overlay-container > a .overlay-yellow {
  position: absolute;
  width: 184px;
  height: 134px;
  transition: background-color .3s ease-in-out;
  background-color: rgba(255, 240, 0, 0.4);
}
.overlay-container > a .overlay-yellow:hover {
  background-color: rgba(255, 240, 0, 0);
  cursor: pointer;
}
.overlay-container > a .overlay-blue {
  position: absolute;
  width: 253px;
  height: 129px;
  transition: background-color .3s ease-in-out;
  background-color: #00bbff14;
}
.overlay-container > a .overlay-blue:hover {
  background-color: rgba(64, 219, 229, 0);
  cursor: pointer;
}
