@font-face {
  font-family: 'KingsBureauGrot ThreeSeven';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot');
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot?#iefix') format('embedded-opentype'), url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.woff') format('woff'), url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'ELCicons';
  src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot');
  src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot?#iefix') format('embedded-opentype'), url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.woff') format('woff'), url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

[role=main] h2 {
  background: #6b6b6b;
  color: white;
}

h2 {
  position: relative;
  background: #f0f1f3 url("https://git.iddkingsonline.com/assets/images/taustelcheader.png") no-repeat left top !important;
  border: 1px solid #ececec;
  line-height: 60px;
  font-size: 32px;
  color: #6b6b6b !important;
  padding: 10px 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  margin-top: 0px;
  font-style: normal;
}

h3 {
  margin: -20px 0px 0px -20px;
}


/* Start of ELC Lesson page css */

.page {
  background: #fff;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  overflow: hidden;
}

#icons_week {
  position: relative;
  font-size: 24px;
  font-family: 'ELCicons';
  font-weight: normal;
  font-style: normal;
}

#icons_r_week {
  position: relative;
  font-size: 14px;
  font-family: 'ELCicons';
  font-weight: normal;
  font-style: normal;
}

#text_week {
  position: relative;
  line-height: 36px;
  color: #6b6b6b;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

#green_week {
  color: #449f1e;
  text-align: left;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#black_week {
  color: #000;
  text-align: left;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#blue_week {
  color: #092c50;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#red_week {
  color: #e1221a;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}

#orange_week {
  color: #ff9600;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
}
#orange_week:hover {
  color: #025187;
  text-align: left;
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 26px;
  padding: 0px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  background-color: white;
  border: 0px;
  text-decoration: none;
}

a.s1:link {
  color: #666;
  text-decoration: none;
}

a.s1:visited {
  color: #eee;
  text-decoration: none;
}

a.s1:hover {
  text-decoration: underline;
}

.activity img.activityicon {
  display: none;
}

.instancename {
  position: relative;
  line-height: 36px;
  color: #6b6b6b;
  margin-left: 40px;
  font-size: 20px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

.course-content ul.topics li.section .summary {
  margin-top: 0px;
}

#page-mod-subpage-view li.activity .actions {
  right: 50px;
}

@media only screen and (max-width: 500px) {
  .instancename {
    font-size: 16px;
    margin-left: 0px;
  }
  #page-mod-subpage-view li.activity .actions {
    display: none;
  }
}

.book_content h3 {
  background-size: 30px 30px;
  position: relative;
  line-height: 36px;
  font-size: 30px;
  padding: 10px 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
  pointer-events: none;
}

.path-mod-book h2 {
  margin: 0px;
}

.path-mod-book .navtop {
  margin-top: 10px;
}


/* Navibuttons */

.navtop.navtext a, .navbottom.navtext a {
  display: inline-block;
  max-width: 45%;
  font-size: 14px;
}

/* Navigation Icons */

img.icon {
  height: 25px;
  vertical-align: text-bottom;
  width: 25px;
  padding-right: 6px;
}


/* Remove Black lines in video proportions*/

.bc-player-default_default .vjs-poster {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #ffffff;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}


/* Book subheader position and size*/

.book_content h3 {
  font-size: 23px;
  margin-top: -70px;
  padding: 20px;
  font-family: 'KingsBureauGrot ThreeSeven';
  font-weight: bold;
  font-style: normal;
}


/* Forum header normal place*/

h3 {
  margin: 0px 0px 0px 0px;
  /* biger dashboard icons*/
}

element.style {
  font-size: 66px;
  height: 65px;
  width: 65px;
  vertical-align: middle;
  border: 4px solid #0b5584;
  border-radius: 5px;
  background-image: none;
}


/* Video Scrollbars hiding*/

.no-overflow {
  overflow: hidden;
  padding-bottom: 1px;
}

.book_content {
  padding-left: 20px;
  padding-right: 20px;
}

.bc-iframe body, .bc-player-default_default {
  background: inherit
}


/* Dashboard module centre position*/

.block_html {
  background-color: #FFF;
  padding-bottom: 5px;
  text-align: center;
}


/* Frontpage navigation*/

ul.topnav {
  list-style-type: none;
  margin: 1px;
  padding: 1px;
  background-color: #fff;
}

ul.topnav li {
  float: left;
}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 1px 1px 1px 1px;
  text-decoration: none;
  list-style-type: none;
}

ul.topnav li a:hover:not(.active) {
  background-color: #eee;
}

ul.topnav li a.active {
  background-color: #fdfdfd;
}

ul.topnav li.right {
  float: right;
}

@media screen and (max-width: 600px) {
  ul.topnav li.right, ul.topnav li {
    float: none;
  }
}

.nav-images {
  flex-grow: 1 !important;
  width: auto !important;
  max-width: 185px !important;
  height: 135px !important;
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -11px;
  margin-right: 5px;
}


/* Profile image display update*/

.page-context-header .page-header-image {
  margin-bottom: 1em;
  margin-left: 1.5em;
  margin-top: 1.5em;
  z-index: 6;
}
/*Image links for left sidebar*/
#notebook {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/n2.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#notebook:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#aditionals {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/aditionals.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#aditionals:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
#az {
  background-image: url(https://git.iddkingsonline.com/instances/ELC/az.png);
   background-repeat: no-repeat;
   padding-top: 91px;
   background-position: center center;
}
#az:hover {
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
}
/*Week page image links*/
.img-row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 5px;
  margin-right: 5px;
}
/*Hover color for images*/


.overlay-container {
  text-align: center;
  position: relative;
}
.overlay-container img {
}
.overlay-container > a .overlay-yellowpage {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  width: 193px;
  height: 119px;
  transition: background-color .3s ease-in-out;
  background-color: rgba(255, 240, 0, 0.4);
}
.overlay-container > a .overlay-yellowpage:hover {
  background-color: rgba(255, 240, 0, 0);
  cursor: pointer;
}
.overlay-container > a .overlay-bluepage {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  width: 193px;
  height: 119px;
  transition: background-color .3s ease-in-out;
  background-color: #00bbff14;
}
.overlay-container > a .overlay-redpage {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  width: 193px;
  height: 119px;
  transition: background-color .3s ease-in-out;
  background-color: rgba(255, 129, 0, 0.24);
}
.overlay-container > a .overlay-redpage:hover {
  background-color: rgba(255, 129, 0, 0);
  cursor: pointer;
}
.overlay-container > a .overlay-greenpage:hover {
  background-color: rgba(216, 255, 0, 0);
  cursor: pointer;
}
.overlay-container > a .overlay-greenpage {
  position: absolute;
  margin-top: 4px;
  margin-left: 10px;
  width: 193px;
  height: 119px;
  transition: background-color .3s ease-in-out;
  background-color: rgba(216, 255, 0, 0.24);
}
.overlay-container > a .overlay-bluepage:hover {
  background-color: rgba(64, 219, 229, 0);
  cursor: pointer;
}
/*Simon's Brightcove fixes*/

.vjs-mouse-display {
  display: none !important;
}

.video-js .vjs-slider {
	background-color: transparent !important;
}

.bc-player-default_default.vjs-mouse .vjs-volume-menu-button {
	width: 48px !important;
}

.video-js .vjs-play-progress:before {
	top: -15px !important;
}

.video-js .vjs-progress-holder {
	top: 15px !important;
}

.video-js .vjs-time-tooltip, .video-js .vjs-mouse-display:after, .video-js .vjs-play-progress:after {
	top: -60px !important;
}
/*Video player problems solver*/
element.style {
    display: block;
    position: relative;
    max-width: 99.1% !important;
}
.video-js .vjs-big-play-button {
    font-size: 4em;
    line-height: 1em;
    height: 1.14em;
    width: 1.2em;
}
/*squares on icons remover*/
.video-js .vjs-play-control .vjs-icon-placeholder {
    display: none;
}
.video-js .vjs-mute-control .vjs-icon-placeholder, .vjs-icon-volume-high {
    display: none;
}

.video-js .vjs-fullscreen-control .vjs-icon-placeholder, .vjs-icon-fullscreen-enter {
    display: none;
}
/*h5p extender*/
iframe, .no-overflow>iframe {
    max-width: 100%;
}
/*ELC version of graphics*/
.Click_WA {
 margin-bottom: 10px;
 width: 960px;
 height:79px;
 zoom: 88%;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/Banner_WeeklyAssesment.png') center top no-repeat;
}

.Click_WA:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/Banner_WeeklyAssesment2.png');
}
.ELC_webinars {
 margin-bottom: 10px;
 width: 210px;
 height:157px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/WT.png') center top no-repeat;
}

/*Mobile view*/
@media only screen and (max-width: 560px) {
 .Click_WA {
 margin-bottom: 10px;
 width: 960px;
 height:79px;
 zoom: 70%;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/WA2.png') center top no-repeat;
}
}

.ELC_webinars:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/WTo.png');
}
.ELC_forum {
 margin-bottom: 10px;
 width: 210px;
 height:157px;
 margin-left: 10px;
 margin-right: 10px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/F.png') center top no-repeat;
}

.ELC_forum:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/Fo.png');
}
.ELC_turnitin {
 margin-bottom: 10px;
 width: 210px;
 height:157px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/TT.png') center top no-repeat;
}

.ELC_turnitin:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/TTo.png');
}
.ELC_deadlines {
 margin-bottom: 10px;
 width: 210px;
 height:157px;
 margin-left: 10px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/WD.png') center top no-repeat;
}

.ELC_deadlines:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/WDo.png');
}
/*Side buttons*/
.ELC_am {
    width: 247px;
    zoom: 89%;
    margin-bottom: 7px;
    height: 85px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/AM.png') center top no-repeat;
}

.ELC_am:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/AMo.png');
}
.ELC_cn {
    width: 247px;
    zoom: 89%;
    margin-bottom: 7px;
    height: 85px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/CN.png') center top no-repeat;
}

.ELC_cn:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/CNo.png');
}
.ELC_vb {
    width: 247px;
    zoom: 89%;
    margin-bottom: 7px;
    height: 85px;
 display:block;
 background:transparent url('https://git.iddkingsonline.com/instances/ELC/img/VB.png') center top no-repeat;
}

.ELC_vb:hover {
   background-image: url('https://git.iddkingsonline.com/instances/ELC/img/VBo.png');
}
.infobox {
    border: 1px;
    color: #000000c4;
    background: #ededed;
    box-shadow: -1px 3px 10px #6b6b6b61;
    border-radius: 4px;
    border-color: #000;
    margin: 7px;
    padding: 9px;
}
/*Week page navigation*/
.course-content .single-section .section-navigation .mdl-left {
    font-weight: 400;
    float: left;
    margin-right: 1em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    margin-top: -13px;
    font-family: 'KingsBureauGrot ThreeSeven';
}

.course-content .single-section .section-navigation .mdl-right {
    font-weight: 400;
    float: right;
    margin-left: 1em;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    margin-top: -13px;
    font-family: 'KingsBureauGrot ThreeSeven';
}
#select custom-select autosubmit jumpmenu {
    float: right;
    font-family: 'KingsBureauGrot ThreeSeven' !important;
    margin-top: -8px;
    border-color: #0a2d50;
}
.mdl-right .rarrow {
    font-size: 1.5em !important;
    margin-left: 5px !important;
}
.mdl-right .rarrow:hover {
    font-size: 1.5em;
    margin-left: 5px;
    text-decoration: none !important;

}

.modified {
	display: none;
}

#accordion h5 {
	margin: 0px;
}

.card {
	padding: 0px;
	margin-bottom: 2px;
}

.card-body {
	padding: 10px;
}

.collapse.in {
	max-height:200px !important;
	overflow:scroll !important;
}

.full .collapse.in {
	max-height: 100% !important;
}
