
/*Header transparency*/
#mr-nav {
    position: fixed;
    width: 100%;
    z-index: 23;
    line-height: 2;
    padding: .5em 0 .5em 4%;
    background-color: rgba(255, 255, 255, 0.75);
}
/*Admin gear button*/
#admin-menu-trigger {
    width: 45px;
    height: 45px;
    margin-right: 1em;
    border-radius: 100%;
    box-shadow: 1px 1px 7px 0px #999999;
}
#admin-menu-trigger:hover {
    width: 45px;
    height: 45px;
    margin-right: 1em;
    border: 0px;
    border-radius: 100%;
    box-shadow: 1px 1px 7px 1px #999999;
}
    
/*User Profile picture*/
.snap-my-courses-menu .userpicture {
    height: 45px;
    width: 45px;
    margin-left: 1rem;
    border: 1px solid #999999;
}
.snap-my-courses-menu:hover .userpicture:hover {
    height: 45px;
    width: 45px;
    margin-left: 1rem;
    border: 1px solid #0b5584;
}
/*Kings logo*/
#snap-home.logo, .snap-logo-sitename {
    height: 100px;
    position: fixed;
}
@media (min-width: 768px)
all:1
.breadcrumb-nav {
    margin-top: 4.0em;
}
@media (min-width: 500px)
all:1
.breadcrumb-nav {
    margin-top: 4.0em;
}
