// -----------------------------------------------------------------------------
// card
// -----------------------------------------------------------------------------

.card {
  display: flex;
  @media only screen and (max-width: $neo-breakpoint) {
    display: block;
  }
  flex-direction: unset;
  border: unset;
  margin-bottom: $component-margin-bottom;
//  @extend .top-bar;
  .card-img-top, .card-img-left {
    width: 310px;
    @extend .top-bar; 
    border-radius: unset; 
    @media only screen and (max-width: $neo-breakpoint) {
      width: 100%;
    }
  }
  .card-body {
    background-color: $block-background;
    h4 {
      margin-top: unset;
    }
  }
}

// horizontal card deck
.card-deck > .card {
  display: block;
  margin-bottom: 1.5rem;
}
