@charset "UTF-8";
@font-face {
  font-family: 'KingsBureauGrot';
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KingsBureauGrotFiveOne';
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal;
}

@media print {
  /* hide all other than main content */
  #block-region-side-post, #block-region-side-pre, #page-header, .navbar, .back-to-top, #page-footer, .navbottom {
    display: none;
  }

  /* typography */
  html body {
    font-size: 18px;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
    font-family: 'KingsBureauGrot';
    color: #171717;
    margin-top: 0;
    margin-bottom: 1.25rem;
  }
  h1, .h1 {
    font-size: 2.375rem;
    line-height: 1.1;
  }
  h2, .h2 {
    font-size: 1.875rem;
    line-height: 1.125;
  }
  h3, .h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
  h4, .h4 {
    font-size: 1.25rem;
    line-height: 1.4;
  }
  h5 .h5 {
    font-size: 1.125rem;
    line-height: 1.4;
  }
   h6, .h6 {
    font-size: 1rem;
    line-height: 1.4;
  }
  p, li {
    font-family: "Open Sans" !important;
    color: #333333;
  }
  p {
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  .caption {
    font-size: 16px;
  }

  /* card and float box */
  .card {
    page-break-inside: avoid;
    display: flex;
    flex-direction: row;
    border: 2px solid #5a6469;
    border-radius: 0;
    margin-bottom: 1.25rem;
    padding: 1.25rem;
  }
  .card .card-body {
    background-color: transparent;
    padding: 0;
  }
  .card .card-body p:last-child {
    margin-bottom: 0;
  }
  .card .card-title, .card h4, .float-box h4 {
    margin-bottom: 0.625rem;
  }
  .card img, .float-box img {
    margin: 0 1.25rem 0 0;
    width: 330px;
    height: 100%;
    flex-shrink: 0;
  }
  .card img.img-right, .float-box img.img-right {
    order: 2;
    margin: 0 0 0 1.25rem;
  }
  .card img.img-top {
    width: 100%;
    height: 100%;
    margin: 0 0 1.25rem 0;
  }
  .card-deck {
    page-break-inside: avoid;
    display: flex;
    flex-direction: row-wrap;
    margin: 0;
  }
  .card-deck .card {
    display: block;
    flex: 1 0 0%;
    margin: 0 0.625rem 1.5rem 0;
  }
  .card-deck .card:last-child {
    margin: 0 0 1.5rem 0.625rem;
  }
  .card-deck .card img {
    width: 100%;
    height: auto;
  }
  .float-box {
    page-break-inside: avoid;
    display: flex;
    margin-bottom: 1.25rem;
  }

  /* carousel */
  .carousel::before {
    display: none;
  }
  .carousel {
    page-break-before: always;
  }
  .carousel-control-prev,
  .carousel-control-next,
  .carousel-indicators {
    display: none;
  }
  .carousel .carousel-item {
    page-break-inside: avoid;
    display: block;
    position: relative;
    margin-bottom: 1.25rem;
    padding: 0;
  }
  .carousel-item img {
    max-width:850px;
    max-height: 425px;
  }
  .carousel-caption {
    max-width: calc(850px - 2.5rem - 4px);
    padding: 1.25rem;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(255,255,255,0.95);
    border: 2px solid #5a6469;
  }
  .carousel-caption h5 {
    font-size: 1.125rem;
    color: #333333;
  }
  .carousel-caption p {
    color: #333333;
    margin-bottom: 1.25rem;
  }
  .carousel-caption p:last-child {
    margin-bottom: 0;
  }
  .carousel.text-only .carousel-caption {
    position: initial;
  }

  /* collapse */
  .collapse-container {
    page-break-inside: avoid;
    margin-bottom: 1.25rem;
  }
  .collapse-container .collapse-card {
    border-bottom: 2px solid #cdd7dc;
    padding: 1.25rem;
    padding-left: 3rem;
  }
  .collapse-container .collapse-card:first-child {
    border-top: 2px solid #cdd7dc;
  }
  .collapse-container .collapse-card .collapse-header button {
    margin: 0;
    padding: 0;
  }
  .collapse-container .collapse-card .collapse-header button .h4 {
    position: relative;
    text-align: left;
  }
  .collapse-container .collapse-card .collapse-header button .h4::before {
    content: '\f107';
    font-family: 'Font Awesome 5 Free';
    color: #5a6469;
    font-weight: 900;
    position: absolute;
    left: -2rem;
    top: 0;
  }
  .collapse-container .collapse-card .collapse-body p:last-child {
    margin: 0;
  }

  /* embed audio and video */
  .embed-responsive {
    height: 100px;
    width: 175px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #5a6469;
    margin-right: -7px;
    position: relative;
  }
  .embed-responsive::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f3c9';
    color: #333333;
    position: absolute;
    top: 38px;
    left: calc(50% - 24.5px);
    font-size: 72px;
  }
  .embed-responsive:not(.embed-responsive-audio)::before {
    content: '\f144';
    left: calc(50% - 36px);
  }
  .embed-responsive iframe {
    display: none;
  }
  .transcript-container {
    page-break-inside: avoid;
    display: inline-block;
    width: calc(100% - 177px);
    margin-bottom: 1.25rem;
  }
  .transcript-container .transcript-card .card-body {
    column-count: 2;
    column-gap: 1.25rem;
    border-left: 2px solid #5a6469;
    padding-left: 1.25rem;
  }

  /* images */
  .full-width-img, .img-full-width,
  .center-img, .img-center,
  .circular-img, .img-circular {
    margin-bottom: 1.25rem;
  }
  .full-width-img img, .img-full-width img {
    width: 100%;
  }
  .full-width-img img:not(:last-child),
  .img-full-width img:not(:last-child),
  .center-img img:not(:last-child),
  .img-center img:not(:last-child) {
    margin-bottom: 0.75rem;
  }
  .full-width-img .caption, .img-full-width .caption {
    margin-bottom: 0;
  }
  .center-img, .img-center {
    text-align: center;
  }
  .circular-img, .img-circular {
    border-radius: 50%;
    max-width: 100%;
  }

  /* info box */
  .definition-box, .feedback-box, .key-concept-box, .learning-outcome-box {
    page-break-inside: avoid;
    border: 1px solid #CDD7DC;
  }
  .key-concept-box {
    padding: 1rem;
  }
  .key-concept-box :last-child {
    margin-bottom: unset !important;
  }

  /* transcript */
  .transcript-button-group {
    display: none;
  }
  .transcript-container.collapsed .transcript-card, .collapse-container .collapse-card.collapsed .collapse-body {
    page-break-inside: avoid;
    display: block !important;
  }
}

/* editor */
.editor_atto_content .carousel-item,
.editor_atto_content .transcript-container.collapsed .transcript-card,
.editor_atto_content .collapse-container .collapse-card.collapsed .collapse-body {
  display:block !important;
}

.editor_atto_content .carousel-item {
  margin-bottom: 1.25rem;
}
