@media print {
  /* hide all other than main content */
  #block-region-side-post, #block-region-side-pre, #page-header, .navbar, .back-to-top, #page-footer, .navbottom {
    display: none !important;
  }

  /* typography */
  p, #page-mod-book-print, li {
    font-family: "Open Sans" !important;
  }

  /* card and float box */
  .card {
    display: flex;
    flex-direction: row;
    border: 2px solid #5a6469;
    border-radius: 0;
    padding: 1.25rem;
  }
  .card .card-body {
    background-color: transparent;
    padding: 0;
  }
  .card img, .float-box img {
    margin: 0 1.25rem 0 0;
    width: 330px;
    height: 100%;
    flex-shrink: 0;
  /*
    width: 15% !important;
    height: 15% !important;
  */
  }
  .card img.img-top {
    width: 100%;
    height: 100%;
    margin: 0 0 1.25rem 0;
  }
  .card-deck {
    display: flex;
    flex-direction: row-wrap;
  }
  .card-deck .card-body {
    width:100%;
  }

  /* carousel */
  .carousel::before {
    display: none;
  }
  .carousel .carousel-item {
    display: block;
    margin-bottom: 20px;
    padding: unset !important;

  }
  .carousel-item img {
    width:15% !important;
  }
  .carousel-control-prev, .carousel-control-next {
    display: none;
  }
  .carousel-caption {
    padding: unset !important;
    position: unset !important;
  }
  .text-only .carousel-caption {
    width: 100%;
    left: 0;
    padding: unset !important;
    position: unset !important;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-caption h5 {
    font-size: 1.125rem !important;
  }

  /* collapse */
  .collapse {
    height:auto !important;
  }
  .collapse-header button > :first-child:after {
    display: none;
  }

  /* embed audio and video */
  .embed-responsive, iframe {
    display: none;
  }
  /*
  img {
    max-width:50% !important;
  }

  .hero img {
    width: 100% !important;
    max-width: 100% !important;
  }
  .hero-caption {
    position: unset !important;
  }
  */

  /* info box */
  .definition-box, .feedback-box, .key-concept-box, .learning-outcome-box {
    border: 1px solid #CDD7DC;
  }
  .key-concept-box {
    padding: 1rem;
  }
  .key-concept-box :last-child {
    margin-bottom: unset !important;
  }

  /* transcript */
  .transcript-button-group {
    display: none;
  }
  .transcript-container.collapsed .transcript-card, .collapse-container .collapse-card.collapsed .collapse-body {
    display: block !important;
  }
}

/* editor */
.editor_atto_content .carousel-item,
.editor_atto_content .transcript-container.collapsed .transcript-card,
.editor_atto_content .collapse-container .collapse-card.collapsed .collapse-body {
  display:block !important;
}

.editor_atto_content .carousel-item {
  margin-bottom: 1.25rem;
}
