#page-header {
	background-color: #FF5F05;
}

@font-face {
	font-family: kingsfont-37;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

@font-face {
	font-family: kingscaslon;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsCaslonDisplay.ttf');

h3.sectionname {
    font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
    color: #0A2D50 !important;
    background-color: #fffff;
}

.course-content ul.ctopics li.section .content div.toggle:hover {
	background-color: #ffffff;
}

.course-content ul.ctopics li.section .content div.toggle {
	background-color: #ffffff;
}

.course-content ul.ctopics li.section .content .toggle {
	color: #0A2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #CDD7DC;
	color: #ffffff !important;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #CDD7DC;
}