#page-header {
	background-color: #8b9295;
	border-bottom: 6px solid #ff5f05;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	background-color: #5a6469;
	background: #5a6469 url(https://git.iddkingsonline.com/assets/images/nav-bg-isfg.png) no-repeat center top;
}

@font-face {
	font-family: kingsfont-37;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

.course-content ul.ctopics li.section .content .toggle span {
	color: #0A2d50 !important;
}

.content h4 {
	font-size: 1.1em;
	font-weight: 500;
	font-family: 'kingsfont-37';
}

.content h3 {
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'kingsfont-37';
}

h3.sectionname, .block .header .title h2 {
    font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
    color: #000000;
}

.sectionname {
	color: red !important;
}

.sectionname a:hover {
	color: #536c84 !important;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.3em;
	content: "\f107" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.3em;
	content: "\f106" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3 {
	line-height: 1;
}

.course-content ul.ctopics li.section .content .toggle {
	color: #0a2d50;
	font-size: 1.2em;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #cdd7dc;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #cdd7dc;
}

#page-header .coursesearch input[type="submit"] {
	background: #ff5f05 url(https://keats.kcl.ac.uk/theme/image.php/keats/theme/1516692714/search-icon) no-repeat center center;
}

.course-content ul.weeks li.section .summary, .course-content ul.topics li.section .summary {
	margin: 0px;
}

.course-content ul.ctopics li.section .content .toggledsection {
	padding: 0 12px 20px;
}

body, p {
	color: #5A6469 !important;
	font-family: 'kingsfont-51' !important;
}


.instancename {
	font-family: 'kingsfont-37' !important;
	font-size: 1.2em;
}

/* Hero box */

main {
  overflow: hidden;
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  left: 0px;
  padding-left: 40px;
  position: absolute;
}

.hero-box h1 {
  font-size: 3.5em;
  color: #0a2d50;
  font-family: kingsfont-37;
}

@media all and (max-width: 650px) {

  .hero-box h1 {
    font-size: 1.7em;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}

.panel .settings {
	top: 175px;
}

#dropdowncontainer {
	top: 223px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
	margin: 10px 3px 0 5px
}

.section .activity .availabilityinfo, .section .activity .contentafterlink {
	font-size: 1.1em;
}

.container-fluid a {
	color: #0a2d50;
}

.container-fluid a:hover {
	color: #536c84;
}