#page-header {
	background-color: #8b9295;
	border-bottom: 6px solid #ff5f05;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
	background:#5a6469 url(https://git.iddkingsonline.com/assets/images/nav-bg-pps.png) no-repeat center top;
}

.navbar .brand:hover {
	background-color:#82898C;
	border: 0px !important;
}

.custom-menu .first-of-type>li>a, .custom-menu .first-of-type>li>.realuser, .custom-menu .first-of-type>li>.guestuser, .yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {
	border: 0px !important;
}

.custom-menu .first-of-type>li>a:hover, .custom-menu .first-of-type>li>a:focus, .custom-menu .first-of-type li.dropdown.open>.dropdown-toggle, .custom-menu .first-of-type li.dropdown.active>.dropdown-toggle, .custom-menu .first-of-type li.dropdown.open.active>.dropdown-toggle {
	background-color:#82898C;
	border: 0px !important;
}
 
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-active .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content {
    background-color: #82898C;
	border: 0px !important;
}

.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu, .navbar .popover-region {
	border: 0px !important;
	padding: 4px 11px 5px 8px;
}
	
.jsenabled .usermenu .moodle-actionmenu .toggle-display.textmenu:hover, .navbar .popover-region:hover {
    background-color: #82898C;
	border: 0px !important;
}

@font-face {
	font-family: kingsfont-37;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

.content h4 {
	font-size: 1.1em;
	font-weight: 500;
	font-family: 'kingsfont-37';
}

.content h3 {
	font-size: 1.5em;
	font-weight: 500;
	font-family: 'kingsfont-37';
	padding-top: 10px;
	padding-bottom: 5px;
}

.block .header .title h2 {
    font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
    color: #000000;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.3em;
	content: "\f107" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.3em;
	content: "\f106" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3 {
	line-height: 1;
}

.course-content ul.ctopics li.section .content .sectionhead h3:hover {
	color: #536c84 !important;
}

.course-content ul.ctopics li.section .content .sectionhead h3 {
	color: #0d4277 !important;
	font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
}

.course-content ul.ctopics li.section .content .toggle {
	color: #0d4277;
	font-size: 1.2em;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #cdd7dc;
}

.course-content ul.ctopics li.section:last-child .content .toggle span.the_toggle {
	border-bottom: 1px solid #cdd7dc;
}

#page-header .coursesearch input[type="submit"] {
	background: #ff5f05 url(https://keats.kcl.ac.uk/theme/image.php/keats/theme/1516692714/search-icon) no-repeat center center;
}

.course-content ul.weeks li.section .summary, .course-content ul.topics li.section .summary {
	margin: 0px;
}

.course-content ul.ctopics li.section .content .toggledsection {
	padding: 0 12px 20px;
}

body, p {
	color: #5a6469 !important;
	font-family: 'kingsfont-51' !important;
}

.instancename {
	font-family: 'kingsfont-51' !important;
	font-size: 1.2em;
}

/* Hero box */

main {
  overflow: hidden;
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  left: 0px;
  padding-left: 40px;
  position: absolute;
}

.hero-box h1 {
  font-size: 3.5em;
  color: #5a6469;
  font-family: kingsfont-37;
}

@media all and (max-width: 650px) {

  .hero-box h1 {
    font-size: 1.7em;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}

.panel .settings {
	top: 175px;
}

#dropdowncontainer {
	top: 223px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
	margin: 10px 3px 0 5px
}

.section .activity .availabilityinfo, .section .activity .contentafterlink {
	font-size: 1.1em;
}

#page a {
	color: #0d4277;
}

#page a:hover {
	color: #536c84;
}

.btn-primary {
	color: #fff !important;
}

.toggle_open {
	border-bottom: 0px !important;
}

h3 > b  {
	font-weight: 400 !important;
}
