#page-header {
	background-color: #FF5F05;
}

@font-face {
	font-family: kingsfont-37;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

@font-face {
	font-family: kingscaslon;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsCaslonDisplay.ttf');
}

.course-content ul.ctopics li.section .content .toggle span {
	color: #0A2d50 !important;
}

h3.sectionname, .block .header .title h2 {
    font-family: 'kingsfont-37' !important;
    font-weight: normal !important;
    letter-spacing: .3px;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.6em;
	content: "\f107" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.6em;
	content: "\f106" !important;
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle {
	color: #0A2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #CDD7DC;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #CDD7DC;
}

#page-header .coursesearch input[type="submit"] {
	background: #ff8833 url(https://keats.kcl.ac.uk/theme/image.php/keats/theme/1516692714/search-icon) no-repeat center center;
}

body, p {
	color: #5A6469 !important;
}

/* Hero box */

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  left: 0px;
  padding-left: 40px;
  position: absolute;
}

.hero-box h1 {
  font-size: 3.5em;
  color: #ffffff;
}

@media all and (max-width: 650px) {

  .hero-box h1 {
    font-size: 1.7em;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
