#page-header {
	background-color: #FF5F05;
}

@font-face {
	font-family: kingsfont-37;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

@font-face {
	font-family: kingscaslon;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsCaslonDisplay.ttf');
	
.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
	color: #0A2D50;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	color: #FF5F05;
}

.course-content ul.ctopics li.section .content .toggle {
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #9FA7A7;
	color: #009EA0 !important;
}
