@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

#intro.generalbox {
	margin-top:0px;
	padding-top:0px;
}

#page-header .toplinks a {
	border-left: 0px;
}

html, body, input, button, select, textarea, .footerlinks ul li a, #footer-left, #footer-middle {
	font-family:'kingsfont-51' !important;
}

h1, h2, h3 {
	font-family: "BureauGrotesqueThreeSeven", Impact, Arial, Helvetica, sans-serif !important;
}