@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

#intro.generalbox {
	margin-top:0px;
	padding-top:0px;
}

#page-header .toplinks a {
	border-left: 0px;
}

html, body, input, button, select, textarea, .footerlinks ul li a, #footer-left, #footer-middle {
	font-family:'kingsfont-51' !important;
}

h1, h2, h3 {
	font-family: "BureauGrotesqueThreeSeven", Impact, Arial, Helvetica, sans-serif !important;
}

.course-content ul.ctopics li.section .content .toggle {
	background-color: white !important;
	margin-bottom: 2px;
	border: 1px solid #d5d3d4 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
}

.course-content ul.ctopics li.section .content div.toggle:hover {
	background-color: #e6e6e6 !important;
}

.course-content ul.ctopics li.section .content .sectionhead h3 {
	color: #0B5584 !important;
}

.block .header .block_action .block-hider-show, .block .header .block_action .block-hider-hide {
	margin: 0px !important;
}

.block .header .block_action>* {
	float: left;
}

.block .header .title h2 {
	font-weight: 500 !important;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
	margin: 8px 3px 0 5px !important;
}

.block_recent_activity .activitydate, .block_recent_activity .activityhead {
	text-align: left !important;
}