/* Grid */ 

.course-content ul.gridicons li .icon_content {
    height: auto;
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    font-family: 'KingsBureauGrotThreeSeven';
    background: transparent;
    z-index: 100;
    margin-top: 21px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    max-width: 400px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}

.course-content ul.gridicons li .image_holder {
    width: auto;
    height: auto;
    border-color: #cdd7dc !important;
    border-width: 0px !important;
    border-radius: 0px !important;
    padding:0px;
}