
/* Bootstrap */

@import "https://git.iddkingsonline.com/instances/lambda/bootstrap.css";


/* Section Name */

#section-0 .content>h3.sectionname {
	position: absolute;
	left: 2%;
	right: 2%;
}

.course-content ul li.section.main {
	background: none !important;
}

.path-course-view .section .summary {
	padding-top: 30px;
}

/* Grid */ 

.course-content ul.gridicons li .icon_content {
    height: auto;
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    font-family: 'KingsBureauGrotThreeSeven';
    z-index: 100;
    margin-top: 21px;
    display: inline;
    background: rgba(255,255,255,.75);
    font-weight: 500;
/*    cursor: default !important; */
    cursor: inherit !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    max-width: 215px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}

.course-content ul.gridicons li.currentselected .icon_content a:hover,.course-content .gridcursor .gridicon_link a:hover,.course-content ul.gridicons li.currentselected .icon_content {
	color: inherit !important;
}

.course-content ul.gridicons li img:hover {
	transform: none;
}

.course-content ul.gridicons li .image_holder {
    width: auto;
    height: auto;
    border-color: #cdd7dc !important;
    border-width: 0px !important;
    border-radius: 0px !important;
    padding:0px;
}

.new_activity {
	display: none;
}

.course-content ul.gridicons li.currentselected {
	background-color: #ffffff !important;
}

/* Blocks */

#block-region-side-post, #block-region-side-pre {
	margin-top: 85px;
}

/* Section navigation */

.single-section .section-navigation a {
	font-weight: 500;
}

/* Colours */ 

.text-white {
	color: #fff;
}

.bg-primary, .bg-primary h5,.border-primary .card-header {
	background-color: #0a2d50 !important;
	color: #fff !important;
}

.card-header h3 {
	color: #fff !important;
}

.border-primary {
	border-color: #0a2d50 !important;
}

.bg-secondary, .bg-secondary h5,.border-secondary .card-header {
	background-color: #5a6369 !important;
	color: #fff !important;
}

.border-secondary {
	border-color: #5a6369 !important;
}

.bg-danger, .bg-danger h5,.border-danger .card-header {
	background-color: #e22319 !important;
	color: #fff !important;
}

.border-danger {
	border-color: #e22319 !important;
}

.bg-success, .bg-success h5, .border-success .card-header {
	background-color: #28C382 !important;
	color: #fff !important;
}

.border-success {
	border-color: #28C382 !important;
}

.bg-warning, .bg-warning h5, .border-warning .card-header {
	background-color: #F5B90F !important;
	color: #000 !important;
}

.border-warning {
	border-color: #F5B90F !important;
}

.bg-info, .bg-info h5, .border-info .card-header {
	background-color: #00B9E1 !important;
	color: #fff !important;
}

.border-info {
	border-color: #00B9E1 !important;
}

.table-primary, .table-primary>td, .table-primary>th, .alert-primary, .btn-primary {
	background-color: #0a2d50 !important;
	color: #fff;
}

.table-secondary, .table-secondary>td, .table-secondary>th, .alert-secondary, .btn-secondary {
	background-color: #5a6369 !important;
	color: #fff;
}

.table-danger, .table-danger>td, .table-danger>th, .alert-danger, .btn-danger {
	background-color: #e22319 !important;
	color: #fff;
}

.table-success, .table-success>td, .table-success>th, .alert-success, .btn-success {
	background-color:  #28C382 !important;
	color: #fff;
}

.table-warning, .table-warning>td, .table-warning>th, .alert-warning, .btn-warning {
	background-color:  #F5B90F !important;
	color: #000;
}

.btn-warning:hover {
	color: #000;
}

.table-info, .table-info>td, .table-info>th, .alert-info, .btn-info {
	background-color:  #00B9E1 !important;
	color: #fff;
}

.alert {
	text-shadow: none !important;
}