/* =========================================================== *
Fonts
============================================================== */

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

/* =========================================================== *
Header
============================================================== */

#page-header {
	background-color: #5E5550;
}

#page-header .coursesearch input[type="submit"] {
	background-color: #F18758;
}

/* =========================================================== *
Toggles and breadcrumbs
============================================================== */

#toggle-all .content .sectionbody h4 span.tc-small {
	color: #5E5550 !important;
}

#toggle-all .content .sectionbody h4 span.tc-small a:hover{
	color: #F18758 !important;
}

.breadcrumb a {
	color: #5E5550 !important;
}

.breadcrumb a:hover {
	color: #F18758 !important;
}

/* =========================================================== *
Accordions
============================================================== */

.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
	border-radius: 0px !important;
	background-color: #CDC3B9 !important;
}

.course-content ul.ctopics li.section .content div.toggle:hover {
	background-color: #F1EDEA !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle h3.sectionname {
	color: #5E5550 !important;
	font-family: 'kingsfont-37';
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle h3.sectionname:hover {
	color: #F18758 !important;
}

.course-content ul.ctopics li.section .content .toggle {
	background-color: #e9e9e9 !important;
}

.course-content ul.ctopics li.section .content .toggle:hover {
	background-color: #f6f6f6 !important;
}