.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
}

h1 {
	font-family: 'kingsfont-51' !important;
}

h3.section-title {
	color: #002D53 !important;
}

h3 {
	color: #4B4B4B !important;
}

#page-header {
	background-color: #002D53;
}

.sectionbody {
	color: #000000;
}

.subtitles {
	font-family: 'kingsfont-37';
	color: #4B4B4B;
	font-size: medium;
}


@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

.hero {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    background-color: rgba(255,255,255, .75);
    left: 0px;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 67%;
    position: absolute;
}

.hero-box h1 {
  font-size: 2.5em;
  color: #002D53 !important;
  font-family: 'kingsfont-37' !important;
}

.hero-box h2 {
  font-size: 1em;
  color: #ffffff;
  right: 0;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
    font-family: 'kingsfont-37' !important;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
.course-content ul.ctopics li.section .content .toggle {
	color: #002D53;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border-top: 1px solid #9FA7A7;
	color: #002D53 !important;
}

.course-content ul.ctopics {
	border-bottom: 1px solid #9FA7A7;
}


.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.2em;
	content: "\f107" !important;
	color: #002D53;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.2em;
	content: "\f106" !important;
	color: #002D53;
}

.instancename {
	font-weight: bold;
}


/* Slideshow */

* {box-sizing:border-box}
body {font-family: Verdana,sans-serif;}
.mySlides {display:none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
	background-color: rgba(255, 255, 255, .75);
	font-family: 'kingsfont-37' !important;
	font-size: 2.5em;
	text-align: right !important;
	position: absolute;
	padding: 20px;
	bottom: 20px;
	color: #002D53 !important;
	right: 20px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5.5s;
  animation-name: fade;
  animation-duration: 5.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
