@charset "UTF-8";
@font-face {
  font-family: 'KingsBureauGrot';
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'KingsBureauGrotFiveOne';
  src: url("https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf") format("truetype");
  font-style: normal; }

html, body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, .quote-attribution {
  font-family: 'KingsBureauGrot';
  color: #171717;
  margin-bottom: 1.5rem; }

body, select, option {
  font-family: 'Open Sans', sans-serif; }

h1, .h1 {
  font-size: 2.375rem;
  line-height: 1.1; }

h2, .h2 {
  font-size: 1.875rem;
  line-height: 1.25; }

h3, .h3 {
  font-size: 1.5rem;
  line-height: 1.25; }

h4, .h4 {
  font-size: 1.25rem;
  line-height: 1.4; }

h5, .h5 {
  font-size: 1.125rem;
  line-height: 1.4; }

h6, .h6 {
  font-size: 1rem;
  line-height: 1.4; }

p {
  font-size: 1rem;
  line-height: 1.5;
  font-family: Open Sans, sans-serif;
  margin-bottom: 1.5rem;
  color: #333; }

.caption {
  font-size: 0.833rem;
  line-height: 1.5;
  font-family: Open Sans, sans-serif; }

.quote-body {
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: KingsCaslonDisplay;
  margin-bottom: 1.75rem;
  font-style: italic; }

.quote-attribution {
  font-size: 1.125rem;
  line-height: 1.25;
  margin-bottom: 0; }

@media only screen and (max-width: 767px) {
  h1, .h1 {
    font-size: 1.175rem;
    line-height: 1.12; }
  h2, .h2 {
    font-size: 1.5rem;
    line-height: 1.25; }
  h3, .h3 {
    font-size: 1.25rem;
    line-height: 1.25; }
  h4, .h4 {
    font-size: 1.125rem;
    line-height: 1.4; }
  h5, .h5, h6, .h6 {
    font-size: 1rem;
    line-height: 1.4; }
  .quote-body {
    font-size: 1.25rem;
    line-height: 1.25;
    font-family: KingsCaslonDisplay; }
  .quote-attribution {
    font-size: 1rem;
    line-height: 1.25; } }

.info-box, .alert, .definition-box, .feedback-box, .learning-outcome-box, .quote-box {
  margin-bottom: 1.5rem;
  border-radius: unset;
  border: none;
  padding: 0.75rem 1.25rem;
  position: relative;
  color: #000 !important; }
  .info-box > :first-child, .alert > :first-child, .definition-box > :first-child, .feedback-box > :first-child, .learning-outcome-box > :first-child, .quote-box > :first-child {
    padding: 0.5rem 0.25rem 0.5rem 3.125rem; }
  .info-box h5, .alert h5, .definition-box h5, .feedback-box h5, .learning-outcome-box h5, .quote-box h5 {
    font-family: 'KingsBureauGrot' !important;
    font-size: 1.2rem;
    color: #000 !important;
    margin-top: 0; }
  .info-box p, .alert p, .definition-box p, .feedback-box p, .learning-outcome-box p, .quote-box p {
    color: #000 !important; }
    .info-box p:last-child, .alert p:last-child, .definition-box p:last-child, .feedback-box p:last-child, .learning-outcome-box p:last-child, .quote-box p:last-child {
      margin-bottom: 0; }
  .info-box > :first-child::before, .alert > :first-child::before, .definition-box > :first-child::before, .feedback-box > :first-child::before, .learning-outcome-box > :first-child::before, .quote-box > :first-child::before {
    font-family: 'Font Awesome 5 Pro';
    font-weight: 900;
    position: absolute;
    top: 1.25rem;
    left: 1.5rem; }

.top-bar, .card .card-img-top, .card .card-img-left, .hero, #gridiconcontainer ul.gridicons li {
  position: relative; }
  .top-bar::before, .card .card-img-top::before, .card .card-img-left::before, .hero::before, #gridiconcontainer ul.gridicons li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1; }

.caption-overlay, .carousel .carousel-caption, .hero .hero-caption, #gridiconcontainer .gridicon_link .icon_content {
  position: absolute;
  background-color: rgba(10, 45, 80, 0.85);
  bottom: 0;
  left: unset;
  right: unset;
  width: 100%;
  padding: 1.25rem 1.5rem; }

.modified {
  display: none; }

@media only screen and (min-width: 1440px) {
  #page-header-nav, #page-content {
    max-width: 1312px;
    margin: 0 auto; }
  #region-bs-main-and-pre {
    max-width: 979px; }
  #block-region-side-post {
    max-width: 330px;
    margin-left: 23px; } }

.alert.alert-success {
  background-color: rgba(40, 195, 130, 0.2) !important; }
  .alert.alert-success > :first-child::before {
    content: '\f164';
    color: #28C382;
    padding: 0 4px; }

.alert.alert-instructional {
  background-color: rgba(245, 185, 15, 0.2) !important; }
  .alert.alert-instructional > :first-child::before {
    content: '\f086';
    color: #8262ae;
    padding: 0 3px; }

.alert.alert-danger {
  background-color: rgba(226, 35, 26, 0.2) !important; }
  .alert.alert-danger > :first-child::before {
    color: #e2231a;
    content: '\f071';
    padding: 0 3px; }

.btn {
  font-family: 'KingsBureauGrot';
  font-size: 1.125rem;
  line-height: 1.25;
  padding: 0.625rem 0.75rem;
  margin-right: 0.75rem;
  border-radius: 4px; }
  .btn.btn-primary {
    background-color: #0A2D50 !important;
    color: #FFFFFF; }
    .btn.btn-primary:hover {
      background-color: #536c84 !important; }
  .btn.btn-secondary {
    background-color: #FFFFFF !important;
    color: #0A2D50;
    padding: 0.5rem 0.625rem;
    border: 2px solid #0A2D50; }
    .btn.btn-secondary:hover {
      border-color: #536c84;
      background-color: #536c84 !important;
      color: white; }
  .btn.btn-lg {
    font-size: 1.25rem;
    line-height: 1.5;
    padding: 0.5625rem 1.5rem;
    min-width: 9.6875rem;
    box-shadow: 0 5px 0 0 #05192e; }
    .btn.btn-lg:hover {
      background-color: #526C84;
      box-shadow: 0 5px 0 0 #43566B; }
  .btn[disabled] {
    background-color: #cdd7dc !important;
    color: #5a6469; }
    .btn[disabled]:hover {
      background-color: #cdd7dc !important; }
  .btn i {
    font-size: 1.25rem; }
    .btn i:first-child {
      margin-right: 0.375rem; }

.bookbutton, .navtext.navtop a.bookprev:before, .navtext.navbottom a.bookprev:before, .navtext.navtop a.booknext:after, .navtext.navtop a.bookexit:after, .navtext.navbottom a.booknext:after, .navtext.navbottom a.bookexit:after {
  font-family: 'FontAwesome';
  font-size: 1.25rem;
  color: #FFFFFF;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 4px 12px;
  background-color: #0A2D50;
  box-shadow: 0 2px 0 0 #05192e; }
  .bookbutton:hover, .navtext.navtop a.bookprev:hover:before, .navtext.navbottom a.bookprev:hover:before, .navtext.navtop a.booknext:hover:after, .navtext.navtop a.bookexit:hover:after, .navtext.navbottom a.booknext:hover:after, .navtext.navbottom a.bookexit:hover:after {
    background-color: #526C84;
    box-shadow: 0 2px 0 0 #43566B; }

.navtext.navtop, .navtext.navbottom {
  position: relative;
  margin-top: 0.825rem;
  margin-bottom: 8rem;
  padding: 0; }
  .navtext.navtop a, .navtext.navbottom a {
    position: absolute;
    max-width: 18rem;
    margin: 2.125rem 0;
    font-family: 'KingsBureauGrot';
    font-size: 1.25rem;
    line-height: 1.2;
    color: #0a2d50; }
    .navtext.navtop a.bookprev, .navtext.navbottom a.bookprev {
      left: 7.125rem; }
      .navtext.navtop a.bookprev:before, .navtext.navbottom a.bookprev:before {
        left: -3.125rem; }
    .navtext.navtop a.booknext, .navtext.navtop a.bookexit, .navtext.navbottom a.booknext, .navtext.navbottom a.bookexit {
      right: 7.125rem; }
      .navtext.navtop a.booknext:after, .navtext.navtop a.bookexit:after, .navtext.navbottom a.booknext:after, .navtext.navbottom a.bookexit:after {
        right: -3.125rem; }
    .navtext.navtop a.bookexit .chaptername, .navtext.navbottom a.bookexit .chaptername {
      display: none; }
    .navtext.navtop a.bookexit:before, .navtext.navbottom a.bookexit:before {
      font-family: 'KingsBureauGrot';
      content: 'Exit lesson'; }
    .navtext.navtop a.bookexit:after, .navtext.navbottom a.bookexit:after {
      font-family: 'Font Awesome 5 Pro';
      content: '\f2f5';
      font-weight: 900;
      padding: 0.25rem 0.375rem; }
    .navtext.navtop a .chaptername, .navtext.navbottom a .chaptername {
      font-family: 'KingsBureauGrotFiveOne';
      font-size: 1.25rem;
      font-weight: normal; }
    .navtext.navtop a:hover, .navtext.navbottom a:hover {
      color: #526C84;
      text-decoration: underline; }

.card {
  display: flex;
  flex-direction: unset;
  border: unset;
  margin-bottom: 1.5rem; }
  .card .card-img-top, .card .card-img-left {
    width: 310px;
    border-radius: unset; }
  .card .card-body {
    background-color: #EDF1F2; }
    .card .card-body h4 {
      margin-top: unset; }

.card-deck > .card {
  display: block;
  margin-bottom: 1.5rem; }

.carousel {
  margin-bottom: 3.5rem; }
  .carousel::before {
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 50; }
  .carousel .carousel-caption {
    text-align: left;
    padding: 2.4% 11%; }
    .carousel .carousel-caption p {
      line-height: 1.5;
      margin-bottom: 0; }
  .carousel.text-only .carousel-item {
    position: relative;
    background-color: rgba(10, 45, 80, 0.85);
    padding-top: 33.3333%; }
  .carousel.text-only .carousel-caption {
    position: absolute;
    background-color: unset;
    top: 25%;
    z-index: 1;
    padding: 2.4% 12%; }
  .carousel .carousel-indicators {
    top: unset;
    bottom: -32px;
    margin: 0;
    width: 100%;
    background-color: #0a2d50; }
    .carousel .carousel-indicators li {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      border: none;
      margin: 10px 11px; }
  .carousel .carousel-control-prev, .carousel .carousel-control-next {
    opacity: 1; }
  .carousel .carousel-control {
    background-color: rgba(10, 45, 80, 0.5);
    padding: 0 15px !important;
    border-radius: 4px;
    position: unset;
    border: none;
    width: auto !important;
    height: auto !important;
    opacity: unset; }
    .carousel .carousel-control:hover {
      background-color: #0a2d50; }
    .carousel .carousel-control i {
      font-size: 60px; }

@media only screen and (max-width: 600px) {
  .carousel-caption {
    position: unset; } }

.embed-responsive {
  margin-bottom: 1.5rem;
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-608by402 {
  padding-top: calc(402%/6.08); }

.embed-responsive-400by285 {
  padding-top: calc(285%/4); }

.embed-responsive-304by231 {
  padding-top: calc(231%/3.04); }

.embed-responsive-audio {
  padding-top: calc(350%/9.76); }

.hero {
  margin-bottom: 1.5rem; }
  .hero .hero-caption h2 {
    color: #FFFFFF;
    margin: unset; }
  .hero .hero-caption img {
    width: 100%; }

.definition-box {
  background-color: #EDF1F2; }
  .definition-box > :first-child::before {
    content: '\f518';
    padding: 0;
    color: #8262ae; }

.feedback-box.correct-answer {
  background-color: rgba(40, 195, 130, 0.2) !important; }
  .feedback-box.correct-answer > :first-child::before {
    color: #28C382;
    padding: 0 4px;
    content: '\f058'; }

.feedback-box.model-answer {
  background-color: rgba(245, 185, 15, 0.2) !important; }
  .feedback-box.model-answer > :first-child::before {
    content: '\f27a';
    color: #F5B90F;
    padding: 0 4px; }

.feedback-box.incorrect-answer {
  background-color: rgba(226, 35, 26, 0.2) !important; }
  .feedback-box.incorrect-answer > :first-child::before {
    color: #E2231A;
    content: '\f057';
    padding: 0 4px; }

.key-concept-box {
  background-color: #EDF1F2;
  padding: 1.5rem; }
  .key-concept-box p {
    font-size: 1.125rem;
    line-height: 1.5;
    font-family: Open Sans, sans-serif;
    font-weight: bold; }
  .key-concept-box p:last-child {
    margin-bottom: 0; }

.learning-outcome-box {
  background-color: #edf1f2; }
  .learning-outcome-box > :first-child::before {
    content: '\f091';
    color: #009EA0;
    padding: 0 4px; }
  .learning-outcome-box ol, .learning-outcome-box ul {
    margin: 0 0 0 1.25rem; }

.quote-box {
  background-color: #EDF1F2; }
  .quote-box > :first-child::before {
    content: '“';
    padding: 0;
    color: #FF5F05;
    font-family: 'KingsCaslonDisplay';
    font-style: italic;
    font-size: 4.5rem;
    top: 2.25rem; }

.table {
  margin-bottom: 1.5rem; }
  .table.table-bordered {
    border: 1px solid #889296;
    border-radius: unset; }
  .table.default-width {
    width: unset; }
  .table th, .table td {
    padding: 0.75rem 1.25rem;
    border-top: 1px solid #889296; }
    .table th:not(:first-child), .table td:not(:first-child) {
      border-left: 1px solid #889296; }
  .table th {
    background-color: edf1f2;
    font-family: 'KingsBureauGrot';
    font-size: 1.125rem;
    line-height: 1.4;
    color: #171717;
    border-radius: unset !important; }
  .table td {
    line-height: 1.375;
    color: #333333; }

.timeline-container {
  margin-left: 64px;
  padding: 0 20px; }
  .timeline-container .timeline-badge-pill {
    border-radius: 50%;
    border: 8px solid #009EA0 !important;
    height: 1.5rem;
    width: 1.5rem;
    padding: unset;
    background-color: unset; }
    .timeline-container .timeline-badge-pill.fill {
      background-color: #009EA0; }
    .timeline-container .timeline-badge-pill::after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      left: calc(50% + 12px);
      border-top: 1.5px solid #8B9296;
      border-bottom: 1.5px solid #8B9296;
      width: 38px; }
  .timeline-container .timeline-row .border-right {
    border-right: 3px solid #8B9296 !important; }
  .timeline-container .timeline-row .border-left {
    border-left: 3px solid #8B9296 !important; }
  .timeline-container .timeline-row .timeline-content {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  .timeline-container .timeline-row .timeline-card {
    position: relative;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 0 6px 6px 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); }
    .timeline-container .timeline-row .timeline-card.no-date {
      border-radius: 6px; }
    .timeline-container .timeline-row .timeline-card .card-body {
      position: relative;
      background-color: #EDF1F2;
      color: #333333; }
    .timeline-container .timeline-row .timeline-card .date-tab {
      position: absolute;
      top: -30px;
      left: 0;
      background-color: #009EA0;
      padding: 4px 8px;
      border-radius: 6px 6px 0 0;
      color: white;
      font-family: 'KingsBureauGrot';
      line-height: 1.4; }
    .timeline-container .timeline-row .timeline-card img {
      width: 100%; }
    .timeline-container .timeline-row .timeline-card .card-image {
      padding-right: 5px; }
    .timeline-container .timeline-row .timeline-card h5 {
      line-height: 1.4;
      color: #171717;
      margin-top: unset; }
    .timeline-container .timeline-row .timeline-card .img-reference {
      font-size: 0.8125rem;
      margin-top: 1.25rem;
      margin-bottom: 0; }
  .timeline-container .timeline-row.highlighted .date-tab {
    background-color: #FF5F05; }
  .timeline-container .timeline-row.highlighted .card-body {
    background-color: #ffe0d3; }
  .timeline-container .timeline-row.highlighted .timeline-badge-pill {
    border-color: #FF5F05 !important; }
    .timeline-container .timeline-row.highlighted .timeline-badge-pill.fill {
      background-color: #FF5F05; }

#gridiconcontainer {
  width: 103%; }
  #gridiconcontainer ul.gridicons {
    margin-left: -0.75rem;
    margin-right: 0.75rem; }
    #gridiconcontainer ul.gridicons li {
      padding: 0;
      margin: 0.75rem; }
  #gridiconcontainer .gridicon_link {
    position: relative; }
    #gridiconcontainer .gridicon_link .icon_content {
      color: #FFFFFF;
      text-align: left;
      z-index: 1;
      padding: 1rem;
      width: 309.5px;
      height: 100px;
      font-family: 'KingsBureauGrot';
      font-size: 1.25rem;
      line-height: 1.4;
      white-space: unset; }
    #gridiconcontainer .gridicon_link .image_holder {
      border: none;
      width: 309.5px;
      height: 310px;
      background-color: unset;
      border-radius: unset; }
      #gridiconcontainer .gridicon_link .image_holder img {
        width: 100%;
        height: 100%; }

.course-content .single-section .section-navigation {
  display: none; }
