@font-face {
  font-family: 'KingsBureauGrot';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'KingsBureauGrotFiveOne';
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf') format('truetype');
  font-style: normal;
}

/* max-width for extra large screens */
@media only screen and (min-width: 1440px) {
  #page-header-nav, #page-content {
    max-width: 1312px;
    margin: 0 auto;
  }
  #region-bs-main-and-pre {
    max-width: 979px;
  }
  #block-region-side-post {
    max-width: 330px;
    margin-left: 23px;
  }

  .modified {
    display: none;
  }
}

/* alert */
.alert-success, .alert-instructional, .alert-danger, .alert-feedback {
  border-radius: 6px;
  border: none;
  position: relative;
}
.alert h5 {
  font-family: 'KingsBureauGrot' !important;
  font-size: 1.2rem;
  color: #000 !important;
}
.alert p {
  font-family: 'KingsBureauGrotFiveOne';
  color: #000 !important;
}
.alert-success > :first-child::before,
.alert-instructional > :first-child::before,
.alert-danger > :first-child::before,
.alert-feedback > :first-child::before {
  font-family: 'Font Awesome 5 Pro';
  font-weight: 900;
  position: absolute;
  top: 20px;
  left: 24px;
}
.alert.alert-success, .alert-feedback.correct-answer {
  background-color: rgba(40,195,130,0.2) !important;
}
.alert.alert-success > :first-child::before {
  content: '\f164';
  color: #28c382;
  padding: 0 4px;
}
.alert-feedback.correct-answer > :first-child::before {
  content: '\f058';
  color: #28c382;
  padding: 0 4px;
}
.alert.alert-instructional, .alert-feedback.model-answer {
  background-color: rgba(245,185,15,0.2) !important;
}
.alert.alert-instructional > :first-child::before {
  content: '\f086';
  color: #8262ae;
  padding: 0 3px;
}
.alert-feedback.model-answer > :first-child::before {
  content: '\f27a';
  color: #f5b90f;
  padding: 0 4px;
}
.alert.alert-danger, .alert-feedback.incorrect-answer {
  background-color: rgba(226,35,26,0.2) !important;
}
.alert.alert-danger > :first-child::before {
  content: '\f071';
  color: #e2231a;
  padding: 0 3px;
}
.alert-feedback.incorrect-answer > :first-child::before {
  content: '\f057';
  color: #e2231a;
  padding: 0 4px;
}
.alert-success > :first-child,
.alert-instructional > :first-child,
.alert-danger > :first-child,
.alert-feedback > :first-child {
  margin: 8px 4px 8px 50px;
}

/* carousel */
.carousel {
  margin-bottom: 4rem;
}
.carousel::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 50;
}
@media only screen and (max-width: 600px) {
  .carousel-caption {
    position: unset;
  }
}
.carousel-caption {
  font-family: 'KingsBureauGrotFiveOne' !important;
  font-size: 23px;
  text-align: left;
  background-color: rgba(11, 45, 80, 0.85);
  right: unset;
  left: unset;
  width: 100%;
  bottom: 0;
  padding: 2.4% 11%;
}
.text-only .carousel-item {
  position: relative;
  background-color: rgba(11, 45, 80, 0.85);
  padding-top: 33.3333%;
}
.text-only .carousel-caption {
  position: absolute;
  background-color: unset;
  top: 25%;
  z-index: 1;
  padding: 2.4% 12%;
}
.carousel-caption h5 {
  font-size: 32px;
}
.carousel-indicators {
  top: unset;
  bottom: -32px;
  margin: 0;
  width: 100%;
  background-color: rgba(11, 45, 80, 1);
}
.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  margin: 10px 11px;
}
.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}
.carousel-control {
  background-color: rgba(11, 45, 80, 0.5);
  padding: 0 15px !important;
  border-radius: 4px;
  position: unset;
  border: none;
  width: auto !important;
  height: auto !important;
  opacity: unset;
}
.carousel-control:hover {
  background-color: rgba(11, 45, 80, 1);
}
.carousel-control i {
  font-size: 60px;
}

/* embed */
.embed-responsive {
  position: relative;
  overflow: hidden;
}
.embed-responsive-608by402 {
  padding-top: calc(402%/6.08);
}
.embed-responsive-400by285 {
  padding-top: calc(285%/4);
}
.embed-responsive-304by231 {
  padding-top: calc(231%/3.04);
}
.embed-responsive-audio {
  padding-top: calc(350%/9.76);
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
/*  padding: 0; */
  overflow: hidden;
}
.embed-responsive::before {
  display: block;
  content: "";
 }
.embed-responsive iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
