@import url("https://git.iddkingsonline.com/instances/lambda/bootstrap.css");
@import url("https://git.iddkingsonline.com/instances/lambda/embed-responsive.css");

h3 > b {
	font-weight: 400 !important;
}

h3.section-title {
	color: #0A2D50 !important;
}


.sectionbody a, .instancename a, .content a {
	font-weight: bold;
	color: #1259A1;
}


.subtitles {
	font-family: 'kingsfont-37';
	color: #4e647f;
	font-size: medium;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
    color: #000;
	margin: 0px;
}

.accordion-content {
	display: none; padding-top: 10px;
}

.accordion-content.default {
	display: block;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

main {
  overflow: hidden;
}

.hero {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero span {
    width:100% !important;
}

.hero-box {
    background-color: rgba(252, 94, 114, .7);
    left: 0px;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 67%;
    position: absolute;
}

.advanced {
	background-color: rgba(0, 158, 160, .7) !important;
}

.dissertation {
	background-color: rgba(74, 90, 115, .8) !important;
}

.hero-box h1 {
  font-size: 2.5em;
  color: #ffffff;
}

.hero-box h2 {
  font-size: 1em;
  color: #ffffff;
  right: 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 100%;
	  display: flex;
	  padding: 0px !important;
	  max-width: 100%;
	  top: 0px;
	  justify-content: center;
	  align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
.course-content ul.ctopics li.section .content .toggle {
	color: #0a2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle.tc-small {
	padding: 10px;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border: 1px solid #0A2d50;
	color: #0a2d50 !important;
}

.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open {
	border: 2px solid #28c382;
	color: #0a2d50 !important;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:before {
	font-size: 1.2em;
	padding-right: 10px;
	content: "\f107" !important;
	color: #00B9E1;
	font-family: "Font Awesome 5 Free";
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:before {
	font-size: 1.2em;
	padding-right: 10px;
	content: "\f106" !important;
	color: #00B9E1;
	font-family: "Font Awesome 5 Free";
}

.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_closed, .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open, body.jsenabled .course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open, #toggle-all .content .toggle-arrow h4 span.off {
	background-image: none !important;
}

.course-content ul li.section.main {
	margin-bottom:5px !important;
}

#toggle-all .content .sectionbody h4 .on,#toggle-all .content .sectionbody h4 .off {
	background: transparent url(https://git.iddkingsonline.com/assets/icons/arw-blue.png) no-repeat center left!important;
}

.block ul.block_tree a, .breadcrumb a, .instancename, .block_book_toc li a, .block_site_main_menu li a, .navbottom .booknext, .navbottom .bookprev, .navbottom .bookexit {
	color: #1259A1;
}

.modified {
	display: none;
}

div.modified {
	display: none;
}

div.gallery {
	float: left;
	width: 210px;
	height: 270px;
}

div.gallery img:hover {
  -webkit-filter: grayscale(100%); 
  -moz-filter: grayscale(100%); 
  filter: grayscale(100%);  
}

div.gallery img {
  width: 160px;
    height: auto;
  border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
	color: #0A2D50;
}

.feed-container {
}

.container-left {
  float:left;
  width: 50%;
}

.container-right {
  float:right;
  width: 50%;
}

@media all and (max-device-width: 750px) {
  .container-left {
    width: 100%;
  }
  .container-right {
    width: 100%;
  }
}

.path-course-view .completionprogress {
	display: none;
}

.table1 table tr td {
	border: 2px solid #4e647f;
}

#next-activity-link:visited, #prev-activity-link:visited {
  color: inherit;
}

#region-main > div.m-t-2.m-b-1 > div {display: none;}
