.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
}

h1 {
	font-family: 'kingsfont-51' !important;
}

h3.section-title {
	color: #0A2D50 !important;
}

#page-header {
	background-color: #0A2D50;
}

.sectionbody {
	font-family: 'kingsfont-51' !important;
	font-size: 1.1em;
	color: black;
}

.generalbox li {
	font-size: medium; 
	color: black;
}

html, body {
	font-family:'kingsfont-51' !important;
}

.subtitles {
	font-family: 'kingsfont-37';
	color: #4e647f;
	font-size: medium;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

.accordion-content {
	display: none; padding-top: 10px;
}

.accordion-content.default {
	display: block;
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
}

.hero {
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    background-color: rgba(252, 94, 114, .7);
    left: 0px;
    padding: 0px;
    padding-left: 50px;
    padding-right: 50px;
    max-width: 67%;
    position: absolute;
}

.hero-box h1 {
  font-size: 2.5em;
  color: #ffffff;
  font-family: 'kingsfont-37' !important;
}

.hero-box h2 {
  font-size: 1em;
  color: #ffffff;
  right: 0;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
    font-family: 'kingsfont-37' !important;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
.course-content ul.ctopics li.section .content .toggle {
	color: #0A2d50;
	border: 0px;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	margin-bottom: 2px;
	background-color: #ffffff !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle {
	margin: 0px;
	border: 1px solid #0A2d50;
	color: #0A2d50 !important;
}

.course-content ul.ctopics li.section .content .toggle-arrow span.toggle_open {
	border: 2px solid #28c382;
	color: #28c382 !important;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle h3:after {
	font-size: 1.2em;
	content: "\f107" !important;
	color: #00B9E1;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:after {
	font-size: 1.2em;
	content: "\f106" !important;
	color: #00B9E1;
}

#toggle-all .content .sectionbody h4 .on,#toggle-all .content .sectionbody h4 .off {
	background: transparent url(http://git.iddkingsonline.com/assets/icons/arw-blue.png) no-repeat center left!important;
}
