.course-content ul.gridicons li .icon_content.content_inside {
	font-family: 'kingsfont-37' !important;
	background-color: #0A2D50 !important;
	color: #ffffff !important;
	font-size: 20px;
	bottom: 0px;
	height: 90px !important;
	text-align: left !important;
}