/* embed styles */

/* brightcove caption positioning */
.track > .caption {
  top: unset !important;
  bottom: 9vh !important;
}

/* play icon */
.icon-play {
  background-color: rgba(255,255,255,0.6) !important;
}

.icon-play:before {
  color: rgba(226,35,26,0.7);
}
