.chapters > .k-chapters-container.k-vertical .mediaBox {
        height: 200px !important;
}

.chapters > .k-chapters-container .boxImg img {
        display: none;
}

.topBarContainer {
        display: none;
}

.sideBarContainerReminder {
        top: 3px !important;
}

.k-title-container {
	max-height: 50px;
}

/*.k-description-container {
	display: none;
}*/

.k-chapter-time {
	display: none;
}

.k-duration {
	display: block !important;
}

.sideBarContainerReminder.left {
	background-color:#ff5f05;
	/*margin-left:3px!important;*/
}
