body.jsenabled .course-content ul.ctopics li.section .content .sectionhead {
	padding: 20px 40px 10px 10px !important;
	background: #ffffff !important;
	border-top: 1px solid #cdd7dc;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}


.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
	color: #4d5c6d;
}

.section-title a:hover, h3 a:hover {
	color: #8dad0e;
}

.section-title {
	font-size: 25px;
}

.section-body {
	display: none;
}

#page-header {
	background-color: #4d5c6d !important;
}

.navlist {
	ul { color: red;}
}