ul.ctopics li.section .content .sectionhead
a.toggle_closed {
	background: #ffffff !important;
	border-top: 1px solid #cdd7dc;
}

ul.ctopics li.section .content .sectionhead
a.toggle_open  {
	background: #ffffff !important;
	border-top: 1px solid #cdd7dc;
}

body.jsenabled .course-content ul.ctopics li.section .content .sectionhead {
	padding: 20px 40px 10px 10px !important;
	font-size: 25px;
}

body.jsenabled .course-content ul.ctopics li.section .content .sectionhead a:hover {
    color: #8dad0e !important;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}


.section-title, h2, h3, h4 {
	font-family: 'kingsfont-37' !important;
	font-weight: normal !important;
	letter-spacing: .3px;
	color: #4d5c6d !important;
}
