body{
    background:#eef1f2;
}
#container{
    background:#eef1f2;
}

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.woff');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.woff');
}
@font-face {
	font-family: Roboto-Light;
	src: url('https://git.iddkingsonline.com/assets/fonts/Roboto-Light.woff');
}

html, body, p, li,input, button, select, textarea {
	font-family:'kingsfont-51' !important;
}

h2 {
	font-family: 'kingsfont-37' !important;
	font-weight: 400 !important;
    color: #171717 !important;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #0d4277;
}

a:hover {
	color: #4F759B;
	text-decoration: underline;
}

h3 {
	font-family: 'kingsfont-37';
    	color: #171717 !important;
        font-weight: 300 !important;
    	font-size: xx-large;
      -webkit-font-smoothing: antialiased;
}

h3 > b  {
	font-weight: 400 !important;
}

/*Grid text format*/
.course-content ul.gridicons li .icon_content {
    height: auto;
    /* margin: 0; */
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    font-family: 'kingsfont-37';
    color: #0A2D50;
    background: transparent;
    z-index: 100;
    margin-top: 21px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 4px;
    padding-bottom: 6px;
    padding-left: 4px;
    max-width: 368px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}
.course-content ul.gridicons li.currentselected .icon_content {
    color: #0A2D50!important ;
    max-width: 400px;
}

.course-content ul.gridicons li.currentselected {
    background-color: transparent !important;
}


.course-content ul.gridicons li .image_holder {
    /*width: 256px!important;
    height: 256px !important;*/
    width: auto;
    height: auto;
    border-color: #cdd7dc !important;
    /*background-color: #cdd7dc !important;*/
    border-width: 0px !important;
    border-radius: 0px !important;
    padding:0px;
}

#page-header{
	background: #eef1f2;
}

#section-0 .content>h3.sectionname:after {
    background: #FF5F05 none repeat scroll 0 0;
    }
.course-content ul.gtopics .sectionname h3{
	font-size:48px;
	margin-top:50px;
}
.course-content ul.gtopics .sectionname a {
    color: #171717 !important;
    font-size:48px;
}

.single-section h3.sectionname {
    text-align: left;
    margin-left: 25px;
    clear: both;
}
.single-section .sectionname:after {
     background: none; 
    }
.no-overflow h3, .no-overflow h4{
    font-size: 1.5em;
}