/* Header
   =========================*/

#page-header {
  // usermenu
  .usermenu {
    // show user name on larger screens only
    .userbutton .usertext {
      display: none;
      @media only screen and (min-width: $neo-breakpoint) {
        display: inline-block;
      }
    }
  }
}
#page {
  #page-header-nav {
    // breadcrumb
    .breadcrumb-nav {
      ul.breadcrumb li {
        font-family: 'KingsBureauGrotFiveOne';
        font-size: 1rem;
        a {
          @include colour-opacity($midnight-blue, 0.85);
        }
        &::after {
          color: $rules-and-outlines;
        }
      }
    }
    .breadcrumb-button {
      .singlebutton {
        // inline sibling with edit menu button
        margin: 0 0.75rem 0.5rem 0;
      }
      .moodle-actionmenu {
        @extend .btn, .btn-primary;
        .dropdown {
          display: flex;
          align-items: center;
          // standard button height
          height: 22px;
          a {
            display: flex !important;
            justify-content: center;
            &:before {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
#drawer {
  // message drawer
  // appears upon clicking message icon in usermenu
  .message-app {
    .input-prepend .add-on {
      height: auto;
    }
  }
}
