/* Navigation
   ======================== */

// hide last modified date
.modified {
  display: none;
}

.navcontainer {
  display: flex;
  margin-top: 0.825rem;
  margin-bottom: 1.5rem;
  padding: 0;
  .navtextcontainer {
    flex: 1;
    top: 0;
    transform: none;
    max-width: 50%;
    position: initial;
  }
  .navtext {
    position: relative;
    float: none;
    margin: 0;
    padding: 0.25rem 0 0 0;
    font-family: 'KingsBureauGrot';
    font-size: 1.25rem !important;
    line-height: 1.2;
    color: $midnight-blue !important;
    &.prev {
      padding: 0.25rem 0 0 0.25rem;
    }
    &.next {
      padding: 0.25rem 0.25rem 0;
    }
    @media only screen and (min-width: $neo-breakpoint) {
      padding-top: 0.5rem;
    }
  }
}
.navbutton {
  @extend .icon-before;
  font-size: 1.25rem;
  color: $white;
  border-radius: 0.25rem;
  position: absolute;
  top: 0;
  margin: 0;
  padding: 4px 12px;
  background-color: $midnight-blue;
  box-shadow: 0 2px 0 0 #05192e;
  &:hover {
    @include bg-colour-opacity($midnight-blue, 0.85);
    box-shadow: 0 2px 0 0 #43566B;
  }
  @media only screen and (max-width: $neo-breakpoint) {
    padding: 5px 16.5px;
    font-size: 1.5625rem;
  }
}

// activity navigation
.activity-navigation {
  @extend .navcontainer;
  .row {
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 !important;
    .col-md-4 {
      padding: 0;
      @extend .navtextcontainer;
      // hide the jump to activity dropdown
      &:nth-child(2) {
        display: none;
      }
      a#prev-activity-link,
      a#next-activity-link {
        @extend .navtext;
      }
      a#prev-activity-link {
        left: 3rem;
        text-align: left;
        padding-right: 3rem !important;
        &::before {
          @extend .navbutton;
          left: -3.125rem;
          content: '\f104';
        }
      }
      // right align next activity link
      &:last-child {
        display: flex;
        justify-content: flex-end;
        a#next-activity-link {
          right: 3rem;
          text-align: right;
          padding-left: 3rem !important;
          &::after {
            @extend .navbutton;
            right: -3.125rem;
            content: '\f105';
          }
        }
      }
    }
  }
}

// section navigation
.course-content .single-section .section-navigation.mdl-bottom {
  @extend .navcontainer;
  .mdl-left,
  .mdl-right {
    @extend .navtextcontainer;
    a {
      @extend .navtext;
    }
  }
  .mdl-left {
    margin-right: 3.5rem !important;
    a {
      left: $lg-nav-margin;
      @media only screen and (max-width: $neo-breakpoint) {
        left: $sm-nav-margin;
      }
      &:before {
        @extend .navbutton;
        left: -3.125rem;
      }
    }
  }
  .mdl-right {
    margin-left: 3.5rem !important;
    a {
      text-align: right;
      right: $lg-nav-margin;
      @media only screen and (max-width: $neo-breakpoint) {
        right: $sm-nav-margin;
      }
      &:after {
        @extend .navbutton;
        right: -3.125rem;
      }
    }
  }
}
