/* =========================================================== *
Fonts
============================================================== */

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

html, body, p, li,input, button, select, textarea {
	font-family:'kingsfont-51' !important;
}

h2,h3 {
	font-family: 'kingsfont-37' !important;
	font-weight: 400 !important;
}

h3 > b  {
	font-weight: 400 !important;
}

/* =========================================================== *
Hero 
============================================================== */

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
  padding-bottom: 10px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    	background-color:rgba(0, 0, 0,.6);
    	left: 0px;
	top: 15%;
    	padding: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	max-width: 67%;
    	position: absolute;
}

.hero-box h1 {
  	font-size: 2.4em;
  	color: #ffffff;
	font-weight: 400;
  	font-family: 'kingsfont-37' !important;
}

.hero-box h2 {
  	font-size: 2.3em;
	font-family: 'kingsfont-51' !important;
  	color: #ffffff;
	font-weight: 400;
  	right: 0;
	margin: 10px 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 50%;
	  display: inline;
	  padding: 0px !important;
	  max-width: 100%;
	  top: inherit;
	  bottom: 0px;
  }
  .hero-box h1 {
    	font-size: 1.4em;
    	font-family: 'kingsfont-37' !important;
	padding-left: 15px;
  }
  
  .hero-box h2 {
	  font-size: 1.4em;
	  padding-left: 15px;
  }
 
}

@media all and (max-width: 380px) {

	.hero-box h1 {
    		font-size: 1.1em;
  	}

	.hero-box h2 {
		font-size: 1.1em;
	}

}

/* =========================================================== *
Headers
============================================================== */

h3.sectionname {
	display: none;
}

.single-section h3.sectionname {
	display: block;
}