/* =========================================================== *
Fonts
============================================================== */

@font-face {
    font-family: kingsfont-51;
    src: url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueFiveOne-eot.eot) format("eot");
    src: url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueFiveOne-eot.eot?#iefix) format("embedded-opentype"), url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueFiveOne-woff.woff) format("woff"), url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf) format("truetype")
}

@font-face {
    font-family: kingsfont-37;
    src: url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueThreeSeven-eot.eot) format("eot");
    src: url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueThreeSeven-eot.eot?#iefix) format("embedded-opentype"), url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrotesqueThreeSeven-woff.woff) format("woff"), url(https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf) format("truetype"), url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-svg.svg) format("svg")
}

html, body, p, li,input, button, select, textarea {
	font-family:'kingsfont-51' !important;
	font-size: 14px;
}

h2,h3 {
	font-family: 'kingsfont-37' !important;
	font-weight: 400 !important;
}

h3 > b  {
	font-weight: 400 !important;
}

/* =========================================================== *
Header
============================================================== */


/* =========================================================== *
Hero 
============================================================== */

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
  padding-bottom: 10px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    	background-color:rgba(0, 0, 0,.6);
    	left: 0px;
	top: 15%;
    	padding: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	max-width: 67%;
    	position: absolute;
}

.hero-box h1 {
  	font-size: 2.4em;
  	color: #ffffff;
	font-weight: 400;
  	font-family: 'kingsfont-37' !important;
}

.hero-box h2 {
  	font-size: 2.3em;
	font-family: 'kingsfont-51' !important;
  	color: #ffffff;
	font-weight: 400;
  	right: 0;
	margin: 10px 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 50%;
	  display: inline;
	  padding: 0px !important;
	  max-width: 100%;
	  top: inherit;
	  bottom: 0px;
  }
  .hero-box h1 {
    	font-size: 1.4em;
    	font-family: 'kingsfont-37' !important;
	padding-left: 15px;
  }
  
  .hero-box h2 {
	  font-size: 1.4em;
	  padding-left: 15px;
  }
 
}

@media all and (max-width: 380px) {

	.hero-box h1 {
    		font-size: 1.1em;
  	}

	.hero-box h2 {
		font-size: 1.1em;
	}

}

/* =========================================================== *
Headers
============================================================== */

h3.sectionname {
	display: none;
}

.single-section h3.sectionname {
	display: block;
}

/* =========================================================== *
Grid
============================================================== */

.course-content ul.gridicons li .icon_content.content_inside {
	top: 8px;
	font-family: 'kingsfont-37' !important;
	font-weight: 300;
	font-size: 18px;
	height: initial !important;
}

.course-content ul.gridicons li img {
	border-radius: 15px;
}

/* =========================================================== *
Page layout
============================================================== */

.modified {
	display: none;
}

.section .activity.modtype_label.label {
	padding-top: 15px;
}

.section .label .mod-indent-outer {
	padding-left: 0px;
}

.block .content ul {
	margin-left: 0px;
}
