.course-content ul.section li.activity {
  margin-bottom: 1rem !important;
  padding: 0 !important;
}
li.activity > div {
  max-width: calc(100% - 105px);
}
li.activity .no-overflow {
  padding: 0;
 }
li.activity .activityinstance ~ .ishidden {
  margin: 0;
}
li.activity .activityinstance {
  min-height: initial !important;
}
li.activity.label:not(:first-of-type) h2,
li.activity.label:not(:first-of-type) h3,
li.activity.label:not(:first-of-type) h4 {
  margin-top: 0.75rem !important;
}
li.activity.label h2:last-child,
li.activity.label h3:last-child,
li.activity.label h4:last-child,
li.activity.label p:last-child {
  margin-bottom: 0;
}
li.activity .activityinstance a:hover {
  text-decoration: none;
}
li.activity .activityinstance a:hover .instancename {
  text-decoration: underline;
}
li.activity .activityinstance > a,
li.activity .activityinstance .activity-label-container {
  display: flex;
}
li.activity .activityinstance .activity-label-container .activity-label {
  display: inline-block;
  font-family: 'KingsBureauGrot';
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
  width: 5rem;
  height: 1.5rem;
  border-radius: 15px;
  margin-left: 1.5rem;
  background-color: #edf1f2;
}
@media not all and (min-resolution:.001dpcm) {
  li.activity .activityinstance .activity-label-container .activity-label {
    line-height: 1.7;
  }
}
li.activity .activityinstance img {
  display: none;
}
li.activity.type-study .activityinstance .activity-label-container .activity-label {
  display: none;
}
li.activity.type-activity .activityinstance .activity-label-container
.activity-label {
  display: inline-block !important;
  color: #ff5f05;
}
li.activity.type-assessed .activityinstance .activity-label-container
.activity-label
{
  display: inline-block;
  background-color: #60bbba;
  color: white;
  width: 5.5rem;
}
.course-content ul.section li.activity.indent {
  border-left: 3px solid #cdd7dc;
  padding-left: 0.625rem !important;
  margin-left: 1.875rem;
}
li.activity .group-icon {
  color: #ff5f05;
  font-size: 1.25rem;
}
li.activity .group-icon .fas.fa-user-friends,
li.activity .media-icon .fas.fa-play-circle {
  margin-left: 1rem;
}
li.activity .media-icon {
  color: #005ad2;
  font-size: 1.25rem;
}
               
/* edit menu */
.section_action_menu, .section .activity .commands {
  position: absolute;
  left: -4.5rem;
}

table li.activity.page {
  margin-bottom: unset !important;
}
table li.activity.page .activityinstance {
  min-height: unset;
}
