body {
  background-color: transparent;
}
.mwEmbedPlayerBlackBkg {
  background-color: white !important;
}
.playerPoster, .largePlayBtn,
.closedCaptions, .playbackRateSelector, .sourceSelector, .fullScreenBtn, .expandToggleBtn {
  display: none !important  ;
}
.volumeControl {
  padding-right: 0.5rem;
  position: absolute;
  right: 0;
  top: 0px;
  height: 17px !important;
}
.volumeControl button::before {
  font-size: 0.75rem;
}
.currentTimeLabel, .durationLabel {
  position: absolute !important;
  top: -4px !important;
}
.currentTimeLabel {
  margin-left: 0.5rem;
}
.durationLabel {
  left: 2.75rem;
}
.controlBarContainer {
  background-color: black;
  border-radius: 8px;
  width: calc(100% - 1px) !important;
  max-height: 18px;
}
.scrubber {
  border-top: 5px solid black !important;
  border-bottom: 5px solid black !important;
  margin: 0 7rem 0 6rem;
}
.scrubber .playHead {
  width: 14px !important;
  height: 14px !important;
}
.sliderPreview {
  display: none !important;
}
.playPauseBtn {
  position: absolute;
  top: -3.5rem;
  border-radius: 4px !important;
  width: 5rem !important;
  height: 3rem !important;
}
.playPauseBtn:focus {
  outline: none !important;
}
.playPauseBtn::before {
  font-size: 24px;
}
.controlsContainer {
  height: 0px !important;
  border: none !important;
}
