body, .videoHolder {
  background-color: transparent;
}
.mwEmbedPlayerBlackBkg {
  background-color: white;
}
.playerPoster {
  display: none;
}
.largePlayBtn {
  position: absolute;
  left: 39px;
  top: 31px;
  background-color: #0a2d50 !important;
}
/* .controlsContainer */
.closedCaptions, .playbackRateSelector, .sourceSelector, .fullScreenBtn, .expandToggleBtn {
  display: none;
}
.controlsContainer, .playPauseBtn, .volumeControl {
  background-color: grey !important;
}
.volume-control {
  float: right;
}