// single chapter book hide chapter title
.single-chapter-book .book_content h3:first-of-type {
  display: none;
}

// single chapter book hide toc for print preview
#page-mod-book-print #page-content.single-chapter-book .book_toc_numbered,
#page-mod-book-print #page-content.single-chapter-book .book_toc_none,
#page-mod-book-print #page-content.single-chapter-book .book_toc_bullets,
#page-mod-book-print #page-content.single-chapter-book .book_toc_indented {
  display: none;
}

// single chapter book hide toc for print
@media print {
  #page-content.single-chapter-book .book_toc_numbered,
  #page-content.single-chapter-book .book_toc_none,
  #page-content.single-chapter-book .book_toc_bullets,
  #page-content.single-chapter-book .book_toc_indented {
    display: none;
  }
}
