/* single chapter book hide first chapter title */
.single-chapter-book .book_content h3:first-of-type {
  display: none;
}

/* single chapter book hide toc and first chapter title for print preview */
#page-mod-book-print #page-content.single-chapter-book .book_toc_numbered,
#page-mod-book-print #page-content.single-chapter-book .book_toc_none,
#page-mod-book-print #page-content.single-chapter-book .book_toc_bullets,
#page-mod-book-print #page-content.single-chapter-book .book_toc_indented,
#page-mod-book-print #page-content.single-chapter-book .book_chapter h2:first-of-type {
  display: none;
}

/* single chapter book hide toc and first chapter title for print */
@media print {
  #page-content.single-chapter-book .book_toc_numbered,
  #page-content.single-chapter-book .book_toc_none,
  #page-content.single-chapter-book .book_toc_bullets,
  #page-content.single-chapter-book .book_toc_indented,
  #page-content.single-chapter-book .book_chapter h2:first-of-type {
    display: none;
  }
}
