/* single chapter book hide first chapter title */
.single-chapter-book .book_content h3:first-of-type {
  display: none;
}

/* single chapter book hide toc and first chapter title for print preview */
#page-mod-book-print #page-content.single-chapter-book .book_toc_numbered,
#page-mod-book-print #page-content.single-chapter-book .book_toc_none,
#page-mod-book-print #page-content.single-chapter-book .book_toc_bullets,
#page-mod-book-print #page-content.single-chapter-book .book_toc_indented,
#page-mod-book-print #page-content.single-chapter-book .book_chapter h2:first-of-type {
  display: none;
}

/* single chapter book hide toc and first chapter title for print */
@media print {
  #page-content.single-chapter-book .book_toc_numbered,
  #page-content.single-chapter-book .book_toc_none,
  #page-content.single-chapter-book .book_toc_bullets,
  #page-content.single-chapter-book .book_toc_indented,
  #page-content.single-chapter-book .book_chapter h2:first-of-type {
    display: none;
  }
}

/* podcast */
.podcast-container {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 0.75rem;
  border: 1px solid grey;
  border-radius: 0.5rem
}
.podcast-container .podcast-image {
  width: 100px;
  height: auto;
  margin-right: 0.75rem;
  border-radius: 8px;
}
.podcast-container .podcast-right {
  position: relative;
  flex: 1;
}
.podcast-container .podcast-info {
  position: absolute;
  z-index: 1;
  left: calc(80px + 1rem);
}
.podcast-container.podcast-container .podcast-speaker, .podcast-container .podcast-title {
  font-family: 'KingsBureauGrotFiveOne';
  font-size: 1.125rem;
  line-height: normal;
  margin-bottom: 0.375rem;
}
.podcast-container .podcast-title {
  font-family: 'KingsBureauGrot';
}
.podcast-container .embed-responsive-podcast {
  padding-top: 75px;
  margin-bottom: 0;
}

li.section.main.section-hide-activity-labels .activity:not(.type-assessed) .activity-label-container,
li.section.main.section-hide-activity-labels .activity.type-assessed .activity-label-container .group-icon,
li.section.main.section-hide-activity-labels .activity.type-assessed .activity-label-container .media-icon {
  display: none !important;
}
