/* podcast */
.podcast-container {
  margin-bottom: 1.5rem;
  padding: 1.25rem;
  border: 1px solid #8B9296;
  border-radius: 0.5rem;
  position: relative;
  margin-top: 1.5rem;
  background: white;
}
.podcast-container:before {
  content: 'audio';
  text-transform: uppercase;
  font-family: 'KingsBureauGrot';
  font-size: 1.125rem;
  position: absolute;
  right: 0.5rem;
  top: -22px;
  background-color: #0a2d50;
  color: white;
  border-radius: 4px 4px 0 0;
  line-height: 1;
  width: 54px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.podcast-container .podcast-image {
  width: 80px;
  height: 80px;
  margin-right: 1.25rem;
  border-radius: 8px;
  border: 1px solid #8B9296;
}
.podcast-container .podcast-top {
  display: flex;
  margin-bottom: 1.25rem;
}
.podcast-container .podcast-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.podcast-container.podcast-container .podcast-speaker, .podcast-container .podcast-title {
  font-size: 1.125rem;
  line-height: normal;
}
.podcast-container.podcast-container .podcast-speaker {
  margin-bottom: 0.75rem;
}
.podcast-container .podcast-title {
  font-family: 'KingsBureauGrot';
  margin-bottom: 0;
}
.podcast-container .embed-responsive-podcast {
  padding-top: 40px;
  margin-bottom: 0;
}