/* book nav */
#page-mod-book-view .navtop,
#page-mod-book-view .navbottom {
  border-top: none;
}
#page-mod-book-view .navtop a,
#page-mod-book-view .navbottom a {
  float: none;
}
#page-mod-book-view .navtop a.bookprev::before, 
#page-mod-book-view .navtop a.booknext::after,
#page-mod-book-view .navtop a.bookexit::after,
#page-mod-book-view .navbottom a.bookprev::before,
#page-mod-book-view .navbottom a.booknext::after,
#page-mod-book-view .navbottom a.bookexit::after {
  background-color: white;
}
#page-mod-book-view .navtop a.bookprev:hover, 
#page-mod-book-view .navtop a.booknext:hover,
#page-mod-book-view .navtop a.bookexit:hover,
#page-mod-book-view .navbottom a.bookprev:hover,
#page-mod-book-view .navbottom a.booknext:hover,
#page-mod-book-view .navbottom a.bookexit:hover {
  text-decoration: none !important;
}

/* carousel */
.carousel .carousel-indicators {
  top: calc(100% - 1px);
}
.carousel .carousel-inner .carousel-item img {
  margin: 0;
}
.carousel .carousel-inner .carousel-item .carousel-caption {
  left: 0;
}
.carousel .carousel-control {
  left: 25%;
}

/* timeline */
.row {
  background-color: white;
}
.timeline-container .timeline-row .timeline-content .timeline-card
.card-body .row {
  background-color: #EDF1F2;
}
.timeline-contianer .timeline-row .timeline-badge-pill {
  background-color: white;
}