@charset "UTF-8";
@font-face {
  font-family: 'KingsBureauGrot';
  src: url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-eot.eot) format("eot");
  src:url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-eot.eot?#iefix) format("embedded-opentype"),url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-woff.woff) format("woff"),url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-ttf.ttf) format("truetype"),url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueThreeSeven-svg.svg) format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'KingsBureauGrotFiveOne';
  src:url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueFiveOne-eot.eot) format("eot");
  src:url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueFiveOne-eot.eot?#iefix) format("embedded-opentype"),url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueFiveOne-woff.woff) format("woff"),url(https://kcl.ac.uk/SiteElements/2017/fonts/KingsBureauGrotesqueFiveOne-ttf.ttf) format("truetype");
  font-style: normal; }

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html.h5p-iframe, .h5p-personality-quiz, .h5p-branching-scenario-subtitle-text, html.h5p-iframe > body, .h5p-text-input-field .h5p-text-input-field-textfield, .h5p-find-the-words, .h5p-task-description {
  color: #333333;
  font-family: 'Open Sans';
}

.h5p-question-introduction, html.h5p-iframe .h5p-content {
    font-size: 14px !important;
}

.h5peditor .ui-dialog .h5p-joubelui-button, .h5p-branching-scenario .h5p-start-button, .h5p-end-button, .h5p-nav-button, .h5peditor .h5p-joubelui-button, .h5p-joubelui-button, .joubel-simple-rounded-button, .h5p-guess-answer .show-solution-button, .h5p-memory-reset, .h5p-questionnaire-button, .h5peditor .h5p-questionnaire-button {
  background-color: #0A2D50 !important;
  color: #ffffff !important;
  font-family: "KingsBureauGrot";
  font-weight:bold !important;
  padding: 0.625rem 0.75rem !important;
  margin: 0 0.75rem 0.5rem 0;
  border-radius: 4px !important;
  font-size: 1.125rem !important;
}

.h5p-flashcards .h5p-answer .h5p-button {
  background-color: #0A2D50 !important;
  color: #ffffff !important;
  font-family: "KingsBureauGrot";
}

.h5p-branching-scenario-title-text {
    font-family: "KingsBureauGrot";
}

.h5p-audio-inner .h5p-audio-minimal-button {
  background: #0A2D50 !important;
  color: #ffffff !important;
}

.h5p-audio-inner .h5p-audio-minimal-play-paused, .h5p-audio-inner .h5p-audio-minimal-pause {
  background: #28c382 !important;
}

.h5p-joubelui-button:hover, .h5p-joubelui-button:focus, .joubel-simple-rounded-button:hover, .joubel-simple-rounded-button:focus, .h5p-flashcards .h5p-answer .h5p-button:hover, .h5p-questionnaire-button:hover {
  background-color: #536c84 !important;
}

.h5p-multichoice .h5p-alternative-container {
  background-color: #EDF1F2 !important;
}

.h5p-multichoice .h5p-answer:hover .h5p-alternative-container, .h5p-multichoice .h5p-answer:focus .h5p-alternative-container, .h5p-summary .h5p-panel:not(.panel-disabled) .summary-claim-unclicked:hover, .h5p-summary .h5p-panel:not(.panel-disabled) .summary-claim-unclicked:focus {
  background-color: #cdd7dc !important;
  border:0.1em solid #ddd;
}

.h5p-multichoice .h5p-answer.h5p-correct .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-correct:hover .h5p-alternative-container {
  border-color: #468847 !important;
  background-color: #dff0d8 !important;
}

.h5p-joubelui-score-bar-progress, .h5p-summary .summary-progress-numeric, .h5p-joubelui-score-bar-full-score-star {
  background: #dff0d8 !important;
}

.h5p-joubelui-score-bar {
  border: 0px;
  margin-top: 5px;
  margin-bottom: -8px;
}

.h5p-multichoice .h5p-answer.h5p-wrong .h5p-alternative-container, .h5p-multichoice .h5p-answer.h5p-wrong:hover .h5p-alternative-container, .h5p-summary .summary-score {
  background-color: #f2dede;
  border-color: #b94a48;
}

h2, h3, .h5p-accordion .h5p-panel-title, h2.h5p-personality-quiz, .h5p-accordion .h5p-panel-title:hover, .h5p-accordion .h5p-panel-title:focus, .h5p-accordion .h5p-panel-title:active {
  font-family: 'KingsBureauGrot' !important;
  color: #0a2d50 !important;
}

.h5p-questionnaire-button, .h5peditor .h5p-questionnaire-button {
  text-transform: initial;
  letter-spacing: normal;
}

.h5p-branching-scenario .h5p-start-button, .h5p-end-button, .h5p-nav-button {
  border: 0px;
}

.h5p-branching-scenario-subtitle-text {
  color: #ffffff;
}

.h5p-dialogcards .h5p-dialogcards-card-text-inner {
  margin-bottom: -15px;
}

.h5p-dialogcards .h5p-dialogcards-card-content {
  border: 1px solid #8b9296;
  box-shadow: 0;
}

.h5p-documentation-tool-page-container {
  margin-bottom: 24px;
}

.h5p-drag-text .h5p-drag-droppable-words {
  line-height: 2;
}

.h5p-blanks .h5p-input-wrapper {
  margin-right: 4px;
}

.h5p-image-hotspot-question .hotspot-feedback {
  box-shadow: 0;
}

.h5p-find-the-words .counter-status {
  margin-right: 22px;
}

.h5p-image-hotspot-popup-header {
  font-family: 'KingsBureauGrot';
  font-weight: bold;
  padding: 10px;
}

.h5p-text ul li {
  list-style-type: unset;
  line-height: 1.5;
}
