@font-face {
	font-family: 'KingsBureauGrot';
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot');
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot?#iefix') format('embedded-opentype'),
		url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.woff') format('woff'),
		url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.section-title, h1, h2, h3, h4 {
font-family: 'KingsBureauGrot !important;
}

.subtitles {
	font-family: 'KingsBureauGrot', sans-serif;
	color: #4e647f;
	font-size: medium;
	font-weight: bold;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

  .accordion-content {display: none; padding-top: 10px;}
  .accordion-content.default {display: block;}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

main {
  overflow: hidden;
  font-family: 'KingsBureauGrot !important';
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  opacity: 0.9;
  left: 0px;
  padding: 20px;
  max-width: 50%;
  position: absolute;
}

.hero-box h1 {
  font-size: 2em;
  color: #202f3f;
  background-color: #f3f3f3;
}

.hero-box h2 {
  font-size: 1em;
  color: #404142;
  right: 0;
  background-color: #f3f3f3;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}
