/* Academic note
   ======================== */

.academic-note-container {
  @extend .note-container;
  // from common
  .card-author{
    //to make it work with 2 authors
    .card-title{
      margin-right: $component-margin;
    }
  }
}
