/* Screenreader-only description
   =========================*/

@mixin label-inner-top-left ($label-text, $bg-color){
  &::before{
    font-family: 'KingsBureauGrot';
    font-size: 1.125rem;
    color: $white;
    height:27px;
    justify-content: center;
    padding: 4px;
    content: $label-text;
    background-color: $bg-color;
  }
}

.path-mod-book.editing {
  #region-main {
    #id_content_editoreditable .sr-only {
      width: auto;
      height: auto;
      background-color: $teal-transparency;
      position: initial;
      margin: 0.5rem 0rem !important;
      padding: 0.5rem;
      border: 1px dashed $body-text;
      @include label-inner-top-left ('Description for screen readers', $teal-blue)
    }

    .sr-only p:first-child{
      margin-top:20px;
    }

    #id_content_editoreditable .complex-image {
      background-color: $orange-transparency;
      padding: 0.5rem;
      margin: 0.5rem 0rem !important;
      border: 1px solid $body-text;
      @include label-inner-top-left ('Complex image', $orange);
    }
  }
}
