@import url("https://git.iddkingsonline.com/instances/lambda/bootstrap.css");
@import url("https://git.iddkingsonline.com/instances/lambda/embed-responsive.css");

body{
    background:#eef1f2;
}
#container{
    background:#eef1f2;
}
#block-region-side-post{
    /*border-left:2px solid #eef1f2;*/
}
#page-navbar {
    margin-top: 0;
    position: relative;
    padding: 1px 0 10px 10px;
}


h2 {
	font-weight: 400 !important;
    color: #171717 !important;
    -webkit-font-smoothing: antialiased;
}

a {
	color: #0d4277;
}

a:hover {
	color: #4F759B;
	text-decoration: underline;
}

h3 {
    	color: #171717 !important;
        font-weight: 300 !important;
    	/*font-size: xx-large;*/
      -webkit-font-smoothing: antialiased;
}

h3 > b  {
	font-weight: 400 !important;
}

/*Grid text format*/
.course-content ul.gridicons li .icon_content {
    height: auto;
    font-family: KingsBureauGrotThreeSeven, Arial, Helvetica, sans-serif;
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    color: #0A2D50;
    background: transparent;
    z-index: 100;
    margin-top: 21px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 4px;
    padding-bottom: 6px;
    padding-left: 4px;
    max-width: 368px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}
.course-content ul.gridicons li.currentselected .icon_content {
    color: #0A2D50!important ;
    max-width: 400px;
}

.course-content ul.gridicons li.currentselected {
    background-color: transparent !important;
}


.course-content ul.gridicons li .image_holder {
    width: auto;
    height: auto;
    border-color: #cdd7dc !important;
    border-width: 0px !important;
    border-radius: 0px !important;
    padding:0px;
}

#page-header{
	background: #eef1f2;
}

.course-content ul.gtopics li.section .content {
    margin: 10px 40px;
}

#section-0 .content>h3.sectionname:after {
    background: #FF5F05 none repeat scroll 0 0;
    }

.course-content ul.gtopics .sectionname a {
    color: #171717 !important;
}

.single-section h3.sectionname {
    text-align: left;
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
    clear: both;
    font-size: 2em;
}
.single-section .sectionname:after {
     background: none; 
    }
.no-overflow h3, .no-overflow h4{
    font-size: 1.5em;
}

#block-region-side-post .block .header, #block-region-side-pre .block .header, .hidden-blocks .block .header{
	background:transparent;
	border:none;
	box-shadow: none;
}

.transcript-links {
	text-align: right;
}



@media only screen and (max-width: 418px){
	.single-section h3.sectionname{
		margin-left:0;
	}
	.course-content ul.gtopics li.section .content {
    margin: 10px 10px;
}
}

#next-activity-link:visited, #prev-activity-link:visited {
  color: inherit;
}

.row-fluid.rtl-compatible {
	display: block;
}

.row-fluid.rtl-compatible .urlselect {
	display: none;
}
