/*KCL Logo*/
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border: none;
    background: #35597E url(/theme/image.php/keats/theme/1547134149/nav-bg) no-repeat center top;
    box-shadow: none;
}
.navbar .brand {
    color: #fff0;
    width: 120px;
    height: 87px;
    margin: 0;
    padding: 15px 15px 14px;
    background: transparent url(https://git.iddkingsonline.com/instances/marketing/KCL_logo.svg) center top no-repeat;
}
#page-header .logo {
    display: none;
}

/* =========================================================== *
Fonts
============================================================== */

@font-face {
  font-family: kingsfont-37;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

@font-face {
	font-family: kingsfont-51;
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-FiveOne.ttf');
}

html, body, p, li,input, button, select, textarea {
	font-family:'kingsfont-51' !important;
}

h2 {
	font-family: 'kingsfont-37' !important;
	font-weight: 400 !important;
}

a {
	color: #0A2D50;
}

a:hover {
	color: #005AD2;
}

h3 {
	font-family: 'kingsfont-37';
	color: #5A6469;
	font-weight: 400 !important;
}

h3 > b  {
	font-weight: 400 !important;
}

/* =========================================================== *
Toggles and breadcrumbs
============================================================== */

#toggle-all .content .sectionbody h4 span.tc-small {
	color: #0A2D50 !important;
}

#toggle-all .content .toggle-arrow-hover h4 span.on:hover,#toggle-all .content .toggle-arrow-hover h4 span.off:hover {
	color: #005AD2 !important;
}

/* =========================================================== *
Header
============================================================== */

#page-header {
	background-color: #5E5550 !important;
}

#page-header .coursesearch input[type="submit"] {
	background-color: #F18758;
}

/* =========================================================== *
Accordions
============================================================== */

.course-content ul.ctopics li.section .content .toggle, .course-content ul.ctopics li.section .content.sectionhidden {
	border-radius: 0px !important;
	background-color: #CDC3B9 !important;
}

.course-content ul.ctopics li.section .content div.toggle:hover {
	background-color: #F1EDEA !important;
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle h3.sectionname {
	color: #5E5550 !important;
	font-family: 'kingsfont-37';
}

.course-content ul.ctopics li.section .content .toggle span.the_toggle h3.sectionname:hover {
	color: #F18758 !important;
}

.course-content ul.ctopics li.section .content .toggle {
	background-color: #EFEEEE !important;
}

.course-content ul.ctopics li.section .content .toggle:hover {
	background-color: #FAF9F8 !important;
}

.course-content ul.ctopics li.section .content .toggle .the_toggle.toggle_open h3:hover::after,.course-content ul.ctopics li.section .content .toggle .the_toggle h3:hover::after {
	color: #5F5550 !important;
}

/* =========================================================== *
Hero 
============================================================== */

main {
  overflow: hidden;
  font-family: 'kingsfont-37';
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    	background-color:rgba(0, 0, 0,.6);
    	left: 6px;
	top: 15%;
    	padding: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	max-width: 67%;
    	position: absolute;
}

.hero-box h1 {
  	font-size: 2.4em;
  	color: #ffffff;
	font-weight: 400;
  	font-family: 'kingsfont-37' !important;
}

.hero-box h2 {
  	font-size: 2.3em;
	font-family: 'kingsfont-51' !important;
  	color: #ffffff;
	font-weight: 400;
  	right: 0;
	margin: 10px 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 50%;
	  display: inline;
	  padding: 0px !important;
	  max-width: 100%;
	  top: inherit;
	  bottom: 0px;
  }
  .hero-box h1 {
    	font-size: 1.4em;
    	font-family: 'kingsfont-37' !important;
	padding-left: 15px;
  }
  
  .hero-box h2 {
	  font-size: 1.4em;
	  padding-left: 15px;
  }
 
}

@media all and (max-width: 380px) {

	.hero-box h1 {
    		font-size: 1.1em;
  	}

	.hero-box h2 {
		font-size: 1.1em;
	}

}
