/*Login*/

}

/* =========================================================== *
Fonts
============================================================== */

h2 {
	font-family: 'KingsBureauGrotThreeSeven' !important;
	font-weight: 400 !important;
}

h3 {
	font-family: 'KingsBureauGrotThreeSeven';
        font-weight: 300 !important;
      -webkit-font-smoothing: antialiased;
}

h3 > b  {
	font-weight: 400 !important;
}

.course-content ul.gridicons li .icon_content {
    height: auto;
    /* margin: 0; */
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    font-family: 'KingsBureauGrotThreeSeven';
    color: #ffffff;
    background: #ff3c39c9;
    z-index: 100;
    margin-top: 21px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    max-width: 157px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}

.course-content ul.gridicons li .image_holder {
    width: 256px!important;
    height: 256px !important;
    border-color: #2e638c !important;
    background-color: #2e638c !important;
    border-width: 2px !important;
    border-radius: 0px !important;
}

#block-region-side-post .block .header .title h2, .block .header .title h2 {
    font-family: "BureauGrotesqueThreeSeven";
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 22px;
    border-bottom: 2px solid #fff;
    text-shadow: none;
    word-wrap: normal;
}


/* =========================================================== *
Hero
============================================================== */

main {
  font-family: 'KingsBureauGrotThreeSeven';
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    	background-color:rgba(0, 0, 0,.6);
    	left: 6px;
	top: 15%;
    	padding: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	max-width: 67%;
    	position: absolute;
}

.hero-box h1 {
  	font-size: 2.4em;
  	color: #ffffff;
	font-weight: 400;
  	font-family: 'KingsBureauGrotThreeSeven' !important;
}

.hero-box h2 {
  	font-size: 2.3em;
	font-family: 'KingsBureauGrotThreeSeven' !important;
  	color: #ffffff;
	font-weight: 400;
  	right: 0;
	margin: 10px 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 50%;
	  display: inline;
	  padding: 0px !important;
	  max-width: 100%;
	  top: inherit;
	  bottom: 0px;
  }
  .hero-box h1 {
    	font-size: 1.4em;
    	font-family: 'KingsBureauGrotThreeSeven' !important;
	padding-left: 15px;
  }

  .hero-box h2 {
	  font-size: 1.4em;
	  padding-left: 15px;
  }

}

@media all and (max-width: 380px) {

	.hero-box h1 {
    		font-size: 1.1em;
  	}

	.hero-box h2 {
		font-size: 1.1em;
	}

}

/*Header borders style*/

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #fff;
}

.week_header_hr hr {
    margin: 20px 0;
    border-top: 1px solid #fff !important;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 4px solid #fff !important;
}



