/*Login*/

}

/* =========================================================== *
Fonts
============================================================== */

h2 {
	font-family: 'KingsBureauGrotThreeSeven' !important;
	font-weight: 400 !important;
}

h3 {
	font-family: 'KingsBureauGrotThreeSeven';
        font-weight: 300 !important;
    	font-size: xx-large;
      -webkit-font-smoothing: antialiased;
      padding-top:40px;
      padding-bottom:40px;
}

h3 > b  {
	font-weight: 400 !important;
}

.course-content ul.gridicons li .icon_content {
    height: auto;
    /* margin: 0; */
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: x-large;
    font-family: 'KingsBureauGrotThreeSeven';
    color: #ffffff;
    background: #ff3c39c9;
    z-index: 100;
    margin-top: 21px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 14px;
    padding: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    padding-left: 6px;
    max-width: 157px;
    overflow: hidden;
    text-align: left;
    text-overflow: inherit;
    -webkit-font-smoothing: antialiased;
}

.course-content ul.gridicons li .image_holder {
    width: 256px!important;
    height: 256px !important;
    border-color: #2e638c !important;
    background-color: #2e638c !important;
    border-width: 2px !important;
    border-radius: 0px !important;
}

#block-region-side-post .block .header .block_action {
    display: none;
}
#block-region-side-post .block .header .title h2, .block .header .title h2 {
    font-family: "BureauGrotesqueThreeSeven",Impact,Arial,Helvetica,sans-serif;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    padding-bottom: 22px;
    border-bottom: 2px solid #fff;
    text-shadow: none;
    word-wrap: normal;
}


/* =========================================================== *
Hero
============================================================== */

main {
  overflow: hidden;
  font-family: 'KingsBureauGrotThreeSeven';
  /*display:none;*/ 
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-box {
    	background-color:rgba(0, 0, 0,.6);
    	left: 6px;
	top: 15%;
    	padding: 0px;
    	padding-left: 20px;
    	padding-right: 20px;
    	max-width: 67%;
    	position: absolute;
}

.hero-box h1 {
  	font-size: 2.4em;
  	color: #ffffff;
	font-weight: 400;
  	font-family: 'KingsBureauGrotThreeSeven' !important;
}

.hero-box h2 {
  	font-size: 2.3em;
	font-family: 'KingsBureauGrotThreeSeven' !important;
  	color: #ffffff;
	font-weight: 400;
  	right: 0;
	margin: 10px 0;
}

@media all and (max-width: 650px) {

  .hero-box {
	  width: 100%;
	  height: 50%;
	  display: inline;
	  padding: 0px !important;
	  max-width: 100%;
	  top: inherit;
	  bottom: 0px;
  }
  .hero-box h1 {
    	font-size: 1.4em;
    	font-family: 'KingsBureauGrotThreeSeven' !important;
	padding-left: 15px;
  }

  .hero-box h2 {
	  font-size: 1.4em;
	  padding-left: 15px;
  }

}

@media all and (max-width: 380px) {

	.hero-box h1 {
    		font-size: 1.1em;
  	}

	.hero-box h2 {
		font-size: 1.1em;
	}

}
/*Content BG*/
.course-content {
    margin-top: 0;
    padding-bottom: 44px;
    padding-right: 10px;
    padding-left: 10px;
}
h2 {
    font-size: 1.6em;
    margin: 5px 0 15px;
    -webkit-font-smoothing: antialiased;
    color: #0A2D50;
}
.section .activity .activityinstance, .section .activity .activityinstance div {
    display: inline-block;
    margin-left: 4.1em;
}
.custom-menu .first-of-type>li>a, .custom-menu .first-of-type>li>.realuser, .custom-menu .first-of-type>li>.guestuser, .yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label, .yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content {

    -webkit-font-smoothing: antialiased;
}


/*Weekly activites*/
 #week_header {
    height: auto;
    white-space: normal;
    font-weight: 700;
    position: absolute;
    text-align: left !important;
    font-size: xx-large;
    font-family: 'kingsfont-37';
    color: #ffffff !important;
    background: #ff3c39c9;
    z-index: 100;
    margin-top: -73px;
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    display: inline;
    cursor: default !important;
    line-height: normal;
    margin-left: 23px;
    max-width: 80%;
    overflow: hidden;
    text-align: left !important;
    text-overflow: inherit;
}
.course-content ul.gtopics li.section .content {
    margin: 0 0px !important;
}
.course-content ul.gtopics li.section .content {
    margin-top: 26px;
    margin-left: -2px;
    margin-bottom:  0px;
    margin-right:  0px;
    width: 100%;
}

/*make course header in week view white*/
.course-content ul.gtopics h3.sectionname a{
    color: #ffffff !important;
    padding-top:40px;
}

/*fix heading bottom borders*/
.course-content ul.gtopics h3.sectionname{
    border-bottom:0px;
}

.course-content ul.gtopics h3.sectionname{
    border-bottom: 5px solid #ffffff;
}

.course-content ul.gtopics-0 h3.sectionname{
    border-bottom: 5px solid #ffffff;
}

.course-content ul li.section.main {
    border-bottom: 0px solid #FFF;
}

.course-content ul.gridicons li.currentselected .icon_content {
    color: #ffffff!important ;
}

.course-content ul.gridicons li.currentselected {
    background-color: #2e638c !important;
}


.course-content .single-section .section-navigation {
    display: unset;
    padding: .5em;
    margin-bottom: -.5em;
}
.course-content li.section ul {
    list-style: disc;
    background: white;
    color: #21486e; 
}
.course-content ul li.section.main {
    margin-top:40px;
    margin-bottom:50px;
}

#week_header_content {
    color: #ffffff !important;
    font-size: medium;
    margin-left: 7px;
    margin-right: 10px;
    text-align: justify;

/*Header borders style*/

hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #fff;
}

.week_header_hr hr {
    margin: 20px 0;
    border-top: 1px solid #fff !important;
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 4px solid #fff !important;
}



