@font-face {
	font-family: 'KingsBureauGrot ThreeSeven';
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot');
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.eot?#iefix') format('embedded-opentype'),
		url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.woff') format('woff'),
		url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'ELCicons';
	src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot');
	src: url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.eot?#iefix') format('embedded-opentype'),
		url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.woff') format('woff'),
		url('https://git.iddkingsonline.com/assets/fonts/ELCicons/fonts/ELCicons-new.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

h2 {
			position: relative;
			background: #f0f1f3 url("https://git.iddkingsonline.com/assets/images/taustelcheader.png") no-repeat left top;
			border: 1px solid #ececec;
			line-height: 60px;
			font-size: 32px;
			color: #6b6b6b;
			padding: 10px 20px;
			font-family: 'KingsBureauGrot ThreeSeven';
			font-weight: bold;
			margin-top: 0px;
			font-style: normal;
		}
h3 {
    			margin: -40px 0px 0px 0px;
		}
/* Start of ELC Lesson page css */		
		.page {
			background: #fff;
			margin: 0 auto;
			padding: 20px 20px 0 20px;
			overflow: hidden;
		}

		#icons_week {
			position: relative;
			font-size: 24px;
			font-family: 'ELCicons';
			font-weight: normal;
			font-style: normal;
		}
		
		#icons_r_week {
			position: relative;
			font-size: 14px;
			font-family: 'ELCicons';
			font-weight: normal;
			font-style: normal;
		}
		
		#text_week {
			position: relative;
			line-height: 36px;
			color: #6b6b6b;
			font-size: 20px;
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

		}
		#green_week {
				color: #449f1e;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
		#blue_week {
				color: #092c50;
				background-size: 30px 30px;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
		#red_week {
				color: #e1221a;
				background-size: 30px 30px;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
a.s1:link {color:#666;text-decoration:none;}
a.s1:visited {color:#eee;text-decoration:none;}
a.s1:hover {text-decoration:underline;}
.activity img.activityicon {display: none;}
.instancename {			position: relative;
			line-height: 36px;
			color: #6b6b6b;
			margin-left: 40px;
			font-size: 20px;
	font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;}

.course-content ul.topics li.section .summary {margin-top: 0px;}
#page-mod-subpage-view li.activity
.actions {right:50px;}

@media only screen and (max-width: 500px) {
    .instancename {
        font-size: 16px;
	margin-left: 0px;
    }
	#page-mod-subpage-view li.activity .actions {display: none;}
}

.book_content h3 {
				background-size: 30px 30px;
				position: relative;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 0px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}

.path-mod-book h2 {margin: 0px;}
.path-mod-book .navtop {margin-top: 10px;}
/* Navibuttons */	
.navtop.navtext a, .navbottom.navtext a {
    display: inline-block;
    max-width: 45%;
    font-size: 14px;
}
/* Page header color */
#page-header {
    background-color: #06314d;
}
/* Navigation Icons */
img.icon {
    height: 25px;
    vertical-align: text-bottom;
    width: 25px;
    padding-right: 6px;
}
