@font-face {
	font-family: 'KingsBureauGrot ThreeSeven';
	src: url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/KingsBureauGrot-ThreeSeven.eot');
	src: url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/KingsBureauGrot-ThreeSeven.eot?#iefix') format('embedded-opentype'),
		url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/KingsBureauGrot-ThreeSeven.woff') format('woff'),
		url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'ELCicons';
	src: url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/ELCicons.eot');
	src: url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/ELCicons.eot?#iefix') format('embedded-opentype'),
		url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/ELCicons.woff') format('woff'),
		url('https://git.iddkingsonline.com/moodle-frontend/tree/master/assets/fonts/ELCicons/fonts/ELCicons.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

/* Start of ELC Lesson page css */		
		.page {
			background: #fff;
			margin: 0 auto;
			padding: 20px 20px 0 20px;
			overflow: hidden;
		}

		#header_week{
			position: relative;
			background: #f0f1f3 url("taustelcheader.png") no-repeat left top;
			border: 1px solid #ececec;
			line-height: 60px;
			font-size: 32px;
			color: #6b6b6b;
			padding: 10px 20px;
			margin: 0 -20px 10px -20px;
			font-family: 'KingsBureauGrot ThreeSeven';
			font-weight: bold;
			font-style: normal;
		}
		#icons_week {
			position: relative;
			font-size: 24px;
			font-family: 'ELCicons';
			font-weight: normal;
			font-style: normal;
		}
		
		#icons_r_week {
			position: relative;
			font-size: 14px;
			font-family: 'ELCicons';
			font-weight: normal;
			font-style: normal;
		}
		
		#text_week {
			position: relative;
			line-height: 36px;
			color: #6b6b6b;
			font-size: 20px;
			font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;

		}
		#green_week {
				color: #449f1e;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				margin: 0 -20px 10px -20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
		#blue_week {
				color: #092c50;
				background-size: 30px 30px;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				margin: 0 -20px 10px -20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
		#red_week {
				color: #e1221a;
				background-size: 30px 30px;
				position: relative;
				background: #fafafa;
				border: 1px solid #ececec;
				line-height: 36px;
				font-size: 30px;
				padding: 10px 20px;
				margin: 0 -20px 10px -20px;
				font-family: 'KingsBureauGrot ThreeSeven';
				font-weight: bold;
				font-style: normal;
				}
a.s1:link {color:#666;text-decoration:none;}
a.s1:visited {color:#eee;text-decoration:none;}
a.s1:hover {text-decoration:underline;}
/* End of ELC Lesson page css */	
