//Carousel changes to mimic adapt iLesson slider

@media only screen and (min-width: 1024px) {
  .carousel-inner > .item > img {
    width: 400px;
    height: auto;
    margin-left: -60px;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel-inner > .item > img {
    width: 400px;
    height: auto;
    margin-left: 0;
  }
}
.carousel-caption {
  position: unset;
}

@media only screen and (min-width: 1024px) {
  .carousel-caption {
    position: absolute;
    width: calc(100% - 400px);
    right: 0;
    top: 0;
    left: unset;
    padding: 30px;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel-caption {
    width: calc(100% - 500px);
    padding: 30px 70px 30px 30px;
  }
}

@media only screen and (max-width: 1023px) {
  .carousel-control {
    top: 220px;
  }
}

.carousel-caption h3 {
  color: #fefefe !important;
}

.carousel-control {
  background: none;
  border: none;
  color: #fefefe !important;
}

@media only screen and (min-width: 1024px) {
  .carousel-control.right {
    left: 320px;
    right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .carousel-control.right {
    left: unset;
    right: 15px;
  }
}

@media only screen and (max-width: 1023px) {
  .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
    height: auto;
  }
}