.embed-responsive {
  position: relative;
  overflow: hidden;
}

.embed-responsive-608by420 {
  padding-top: calc(420%/6.08);
}

.embed-responsive > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.panel .panel-heading a:before {
  display: none !important;
}

.panel .panel-title:before {
  color: #082a4f !important;
  content: "\f107";
  float: left;
  font-family: 'FontAwesome';
  font-size: 1.2em;
  margin: -1px 5px 0 5px;
  padding: 1px;
  text-align: center;
  width: 33px; {
}

.btn-block {
  margin: unset;
}
