@font-face {
	font-family: 'KingsBureauGrot';
	src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('https://fonts.googleapis.com/css?family=Roboto');
}

#page-header {
	background-color: #fff;
}

.coursesearch input[type="submit"] {
	background-color: #ffbb57 !important;
}

.section-title, h1, h2, h3, h4 {
	font-family: 'KingsBureauGrot' !important;
	color: #33475c !important;
}

.block {
	border-color: #777;
}

.subtitles {
	font-family: 'KingsBureauGrot', sans-serif;
	color: #000000;
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 10px;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

  .accordion-content {display: none; padding-top: 10px;}
  .accordion-content.default {display: block;}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

main {
  overflow: hidden;
  font-family: 'KingsBureauGrot' !important;
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  opacity: 0.9;
  left: 0px;
  padding: 20px;
  max-width: 50%;
  position: absolute;
}

.hero-box h1 {
  font-size: 3em;
  color: #202f3f;
  background-color: #f3f3f3;
  padding: 5px;
}

.hero-box h2 {
  font-size: 1.1em;
  color: #000000;
  right: 0;
  font-family: 'Roboto' !important;
  background-color: #f3f3f3;
  padding: 5px;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
	max-width: 100% !important;
    padding: 0px !important;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
	margin-bottom: 1px !important;
  }
  
  .hero-box h2 {
	font-size: 0.9em;
	margin: 0px !important;
  }

 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}

.course-content ul.ctopics li.section .content .toggle {
	border: 1px solid #a0a0a0 !important;
    	color: #202f3f !important;
    	background-color: #f3f3f3 !important;
}
.qn-container .smalltext {font-size: 1.7em !important; padding: 5px;}

/*Your Prograss indicator out from banner*/
.path-course-view .completionprogress {
    margin-top: -20px;
}
.hero-box h1 {
    font-size: 3em;
    color: #202f3f;
    text-transform: inherit !important;
    background-color: #ffffffd4;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
}
.hero-box {
    opacity: 0.9;
    left: 0px;
    position: absolute;
    padding: 0 1.5em 0 1.5em;
}
hr {
    height: 3px;
    margin-left: 6px;
    color: #33475c;
    background-color: #33475c;
    border-style: solid;
    border-width: 0px;
    border-color: #33475c;
    max-width: 950px;
}

/*Separators headers*/
p.titlesep {
    border-bottom: solid;
    padding: 5px;
    font-size: 1.4em;
    margin-bottom: 12px;
    font-family: 'KingsBureauGrot' !important;
    margin-top: 32px;
    color: #33475c !important;
}
.block .header .title h2 {
    font-family: "BureauGrotesqueThreeSeven",Impact,Arial,Helvetica,sans-serif;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1.15em;
    font-weight: 700;
    color: #333;
    padding-bottom: 7px;
    text-shadow: none;
    word-wrap: normal;
    text-transform: inherit;
    /* display: none; */
}
.coursesearch input[type="submit"] {
    padding: 6px;
    background-color: #ffbb57!important;
}
/*Section names*/
.course-content ul.collapsibletopics li.section .sectionname {
    font-family: 'KingsBureauGrot' !important;
    color: #33475c !important;
    font-size: 16px !important;
}
.section-summary-activities.mdl-right {
    background: #fff none repeat scroll 0 0;
    border-bottom: 0px solid #eee;
    border-top: 0px solid #eee;
    /* height: 3px; */
    text-align: left;
    margin-left: 19px;
}
.course-content ul li.section.main {
    border-bottom: 1px solid #dddddd !important;
    margin-top: 0;
}
.course-content ul li.section.main {
    border-bottom: 0 none;
    background: none !important;
    padding: 0px 0!important;
}
.collapse {
    margin-left: 16px;
}
.section-title, h1, h2, h3, h4 {
    font-family: 'KingsBureauGrot' !important;
    color: #082a4f !important;
}
.block {
    background: #fff;
    margin-bottom: 30px;
    border-color: #185582;
    border-radius: 0px;
    border-style: solid;
    border-width: 1px 0 0;
    box-shadow: 0 1px 1px -1px #777777;
}
.profileblock .welcome_userpicture {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}
.course-content {
//    margin: -31px 5px 5px;
}
.jsenabled .breadcrumb-button .moodle-actionmenu[data-enhance] {
    display: inline-block;
    background: #202f3f;
    margin-left: 12px;
    width: 20px;
    min-height: 20px;
    padding: 5px 14px 2px 8px;
    border-radius: 5px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .1) inset;
}
