//Carousel changes to mimic adapt iLesson slider
/*.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: unset;
}

.carousel-caption h3 {
  color: #fefefe !important;
}

.carousel-control {
  background: none;
  border: none;
  color: #fefefe !important;
}

@media only screen and (min-width: 1200px) {
  
}

@media only screen and (min-width: 481px) {
  .carousel-inner > .item > img {
    height: 400px;
    width: auto;
    margin-left: -300px;
  }
}

.carousel-caption {
  position: unset
}

@media only screen and (min-width: 481px) {
  .carousel-caption {
    position: absolute;
    width: calc(100% - 180px);
    right: 0;
    top: 0;
    left: unset;
    padding: 30px 60px 30px 20px;
  }
}
.carousel-caption h3 {
    color: #fefefe !important;
}
@media only screen and (max-width: 481px) {
  .carousel-control {
    top: 250px;
  }
}


*/

//starts here
@media only screen and (max-width: 480px) {
  .carousel-inner > .item > img {
    width: 100%;
    height: auto;
  }
}
.carousel-inner > .item > img {
  width: 400px;
  height: auto;
}
@media only screen and (min-width: 481px) {
  .carousel-caption {
    width: calc(100% - 460px);
    right: 0;
    top: 0;
    left: unset;
    padding: 30px;
  }
}
/*@media only screen and (max-width: 480px) {
  .carousel-control {
    top: 220px;
  }
}*/

.carousel-caption h3 {
  color: #fefefe !important;
}

.carousel-control {
  background: none;
  border: none;
  color: #fefefe !important;
}

.carousel-control.right {
    left: 380px;
    right: 0;
}
