//Carousel changes to mimic adapt iLesson slider
@media only screen and (max-width: 480px) {
  .carousel-inner > .item > img {
    width: 100%;
    height: auto;
  }
}
.carousel-inner > .item > img {
  width: 400px;
  height: auto;
}
@media only screen and (min-width: 481px) {
  .carousel-caption {
    width: calc(100% - 500px);
    right: 0;
    top: 0;
    left: unset;
    padding: 30px 70px 30px 30px;
  }
}
.carousel-caption h3 {
    color: #fefefe !important;
}
@media only screen and (max-width: 480px) {
  .carousel-control {
    top: 220px;
  }
}
.carousel-control {
  background: none;
  border: none;
  opacity: 0.8;
  color: #fff !important;
}
