@import 'https://fonts.googleapis.com/css?family=Fjalla+One|PT+Serif';

.section-title, h1, h2, h3, h4 {
font-family: 'Fjalla One', sans-serif !important;
}

p, li {
	color: #000000;
}

.subtitles {
	font-family: 'Fjalla One', sans-serif;
	color: #4e647f;
	font-size: medium;
	font-weight: bold;
	vertical-align: middle;
	line-height: normal !important;
	display: inline-block;
}

.titles {
  position:relative;
  margin-left: 90px;
  height: 80px;
  line-height: 80px;
}

h4  {
	color: #4e647f;
	font-size: medium;
	font-weight: bold;
}

h2 .titles {
	color: #FFFFFF;
	font-weight: bold;
}

  .accordion-toggle {
	cursor: pointer;
	background-color: #ccc;
	cursor: pointer;
	padding: 15px;
	width: 99%;
	text-align: left;
	outline: none;
        color: #000;
	margin: 0px;
}

  .accordion-content {display: none; padding-top: 10px;}
  .accordion-content.default {display: block;}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.accordion.active, button.accordion:hover {
	background-color: #ddd;
}

@font-face {
  font-family: kingsfont;
  src: url('https://git.iddkingsonline.com/assets/fonts/KingsBureauGrot-ThreeSeven.ttf');
}

main {
  overflow: hidden;
  font-family: 'kingsfont';
}

.hero {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.hero-box {
  background-color: #4e647f;
  opacity: 0.9;
  right: 0px;
  padding: 20px;
  position: absolute;
}

.hero-box h1 {
  font-size: 2em;
  color: #ffffff;
}

.hero-box h2 {
  font-size: 1em;
  color: #ffffff;
  right: 0;
}

@media all and (max-width: 650px) {

  .hero-box {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0px;
    top: 0px;
    justify-content: center;
    align-items: center;
  }
  .hero-box h1 {
    font-size: 1.7em;
  }
  
  .hero-box h2 {
    display: none;
  }
 
}

@media all and (max-width: 380px) {

  .hero-box h1 {
    font-size: 1.4em;
  }

}

blockquote {
	color: black;
}

#dock .dockedtitle h2 {
	letter-spacing: 1px;
	font-size: 12px !important;
}

.image {
   width:40px;
   padding: 15px 10px 15px 10px;
   display:inline-block;
   vertical-align:middle;
}
.text {
   width:100%;
   margin-right:-70px;
   display:inline-block;
   vertical-align:middle;
   box-sizing:border-box;
   -moz-box-sizing:border-box;
   -webkit-box-sizing:border-box;
   font-size: x-large;
   color: #ffffff;
   line-height: 25px;
   padding: 10px 80px 10px 10px;
   font-family: 'Fjalla One', sans-serif !important;
}

.course-content ul.ctopics li.section .content .toggle {
	background-color: #e9e9e9 !important;
}

.course-content ul.ctopics li.section .content .toggle:hover {
	background-color: #f6f6f6 !important;
}
